html,body,form,div {margin:0;padding:0;}
html,body {height:100%;}
body {font-family: "Century Gothic", "Microsoft YaHei",Helvetica;font-size:14px; color:#333333; background:#ffffff;}
input,textarea,select {font-family: "Century Gothic", "Microsoft YaHei",Helvetica;}
@font-face{
	font-family:'Century Gothic';
	src: url(CenturyGothic.eot); 
	src: url(CenturyGothic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
		   url(CenturyGothic.ttf)  format('truetype'); /* Safari, Android, iOS */
}

a {color:#0000cc; text-decoration:none;}
a:hover {color:#0000cc;text-decoration:underline;}
a.pagerLinkCurrent{color:#333333;font-weight:bold;font-size:16px;}
a img
{
	border:none;
}

table.master_wrap
{
	border-collapse:collapse;
	width:100%;
	height:100%;
}
table.master_wrap td
{
	vertical-align:top;
	margin:0;
	padding:0;
}
td.master_head
{
	height:120px;
	background:url(images/admin_banner.gif) repeat-x;
}

td.master_head .head_logo
{
	clear:both;
	overflow:hidden;
	height:60px;
	padding:5px 10px;
}
.head_logo img
{
	vertical-align:middle;
	margin-right:20px;
}
td.master_head .head_nav
{
	clear:both;
	overflow:hidden;
	height:40px;
	padding:10px 10px 0 10px;
}
.head_nav ul
{
	list-style:none;
	margin:0;
	padding:0;
}
.head_nav li
{
	display:block;
	float:left;
	width:150px;
	height:38px;
	line-height:38px;
	text-align:center;
	font-weight:bold;
	background:url(images/admin_line.gif) right center no-repeat;
}
.head_nav li.active
{
	width:90px;
	background:url(images/admin_menu.gif) left bottom no-repeat;
}
.head_nav li a
{
	color:#333333;
	text-decoration:none;
}
.head_nav li.active a
{
	color:#ffffff;
}
td.master_nav
{
	width:245px;
	border-right:1px solid #aaaaaa;
}
.nav_box
{
	width:100%;
	height:100%;
}
.nav_box ul
{
	list-style:none;
	margin:0 0 0 5px;
	padding:0;
}
.nav_box li
{
	display:block;
	margin:2px 2px 2px 0;
	padding:8px 0 8px 20px;
}
.nav_box li a
{
	color:#333333;
}
.nav_box li a:hover
{
	color:#0000cc;
}
.nav_box li.main
{
	background:url(images/admin_nav1.gif) left top no-repeat;	
}
.nav_box li.active
{
	background:url(images/admin_nav2.gif) left top no-repeat;	
}
.nav_box li span
{
	display:block;
	cursor:pointer;
}
.nav_box li span.item
{
	display:inline;
	cursor:pointer;
	color:red
}
.nav_box li ul
{
	display:none;
	margin-top:10px;
	margin-left:-10px;
}
.nav_box li li
{
	padding:5px 0 5px 20px;
	background:url(images/admin_nav3.gif) left center no-repeat;	
}
.master_frm
{
	z-index: 2; 	
	width:100%;
	height:100%;
	visibility:inherit;
}
.welcome
{
	width:400px;
	height:300px;
	margin:0 auto;
	background:url(images/admin_welcome.gif) center center no-repeat;
}
.inner_wrapper
{
	padding:10px 25px;
}
.inner_wrapper h2
{
	padding:10px 0;	
	border-bottom:2px solid #888888;
}
.inner_wrapper h2 a
{
	font-size:14px;
	font-weight:normal;
	text-decoration:underline;
}
.inner_wrapper div.search_user
{
	clear:both;
	padding:0 0 10px 10px;
}
.inner_wrapper div.search_user input
{
	margin-left:5px;
}
.inner_wrapper table
{
	border-collapse:collapse;
}
.inner_wrapper table.tbeditor
{
	width:100%;	
}
.inner_wrapper table.tblist
{
	width:100%;
}
.inner_wrapper table th
{
	text-align:left;
	padding:10px;
	border-bottom:1px solid #bbbbbb;
}
.inner_wrapper table td
{
	text-align:left;
	padding:10px;
	border-bottom:1px dashed #bbbbbb;
}
.inner_wrapper table.tbeditor th,.inner_wrapper table.tblist th
{
	padding:10px;
	border-bottom:1px solid #bbbbbb;
}
.inner_wrapper table.tbeditor td,.inner_wrapper table.tblist td
{
	padding:10px;
	border-bottom:1px dashed #bbbbbb;
}
.inner_wrapper table td.tdsubmit
{
	border-bottom-width:0;
}
.inner_wrapper table.tbeditor input[type="text"],.inner_wrapper table.tbeditor input[type="password"] 
{
	position:relative;
	width:450px;
	height:20px;
	padding:5px;
	color:#777777;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.inner_wrapper table.tbeditor textarea
{
	position:relative;
	width:450px;
	height:160px;
	padding:5px;
	color:#777777;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.inner_wrapper table.tbeditor .btn_submit
{
	position:relative;
	width:150px;
	height:30px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
.inner_wrapper table.tbeditor .btn_small
{
	position:relative;
	background:#6480d0;
	width:auto;
	height:20px;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}

.login_wrapper
{
	position:relative;
	width:400px;
	padding:20px;
	margin:200px auto 0 auto;
	background:#ffffff;
	border:1px solid #cccccc;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: #8A8A8A 0 0 10px;
	-moz-box-shadow: #8A8A8A 0 0 10px;
	box-shadow: #8A8A8A 0 0 10px;			
	behavior: url(/Styles/PIE.htc);	
}
.login_wrapper table
{
	border-collapse:collapse;
	width:100%;
}
.login_wrapper table th
{
	font-size:20px;
	padding:10px 10px 20px 10px;
}
.login_wrapper table td
{
	padding:10px;
}
.login_wrapper input
{
	position:relative;
	width:260px;
	height:20px;
	padding:5px;
	color:#777777;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.login_wrapper .btn_submit
{
	position:relative;
	width:120px;
	height:30px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}

table.message_table
{
	border-collapse:collapse;
	width:100%;
}
table.message_table td
{
	border-width:0;
}
table.message_table td.message_left
{
	width:440px;
	border-right:1px solid #aaaaaa;
	vertical-align:top;
	padding:0;
}
table.message_table td.message_left td
{
	padding:2px 0;
}
.message_unread
{
	font-weight:bold;
}
.message_active
{
	background:#a7cdf0;
}
.message_line
{
	clear:both;
	overflow:hidden;
	padding:20px;
	border-bottom:1px dashed #cccccc;
}
.message_usericon
{
	position:relative;
	float:left;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin:0 0 0 20px;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.message_usericon img
{
	max-width:50px;
	max-height:50px;
	border:none;
}
.message_action
{
	float:left;
	margin:0 0 0 20px;
	width:285px;
}
.message_action table,.message_action2 table {
	width:100%;
	border-collapse:collapse;
}
.message_action td,.message_action2 td {
	vertical-align:top;
	padding:2px 0;
}
.message_action a,.message_action2 a
{
	color:#333333;
	text-decoration:none;
}
.message_action a:hover,.message_action2 a:hover
{
	text-decoration:underline;
}
.message_action a.messageedit,.message_action a.messagedelete,.message_action2 a.messageedit,.message_action2 a.messagedelete
{
	color:#0000cc;
	text-decoration:underline;
}

table.message_table td.message_right
{
	padding:0;
	vertical-align:top;
}
.message_content table.message_detail{
	width:100%;
	border-collapse:collapse;
}
.message_content td.message_title
{
	font-size:20px;
	font-weight:bold;
}
 .message_content td.message_from
{
	border-bottom:2px solid #aaaaaa;
}
 .message_content td.message_from a
 {
 	color:#333333;
 	text-decoration:none;
 }
 .message_content td.message_from a:hover
 {
 	color:#0000cc;
 	text-decoration:underline;
 }
 .message_content td.message_date
{
	border-bottom:2px solid #aaaaaa;
	text-align:right;
}
.message_content td.message_description
{
	padding:20px 10px;
	line-height:150%;
}
td.message_left .message_info
{
	margin-left:-25px;
	overflow:auto;
}
td.message_right .message_content
{
	overflow:auto;
	margin-right:-25px;
	padding:0 20px;
}
.message_content .box_form
{
	padding:0;
}

.selectuser_box .me_close {
	position:absolute;
	right:-10px;
	top:20px;	
	width:43px;
	height:43px;
	z-index:3;
}

/*masklayer*/
.lightbox_emailbox
{
	position:absolute;
	top:160px;
	left:210px;
	width:560px;	
	min-height:350px;
	padding: 10px;
	z-index:10;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.value_item_active {
	position:relative;
	float:left;
	margin:2px 3px;
	padding:3px 8px;
	background:#6480d0;
	font-size:13px;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
	
}
.user_value_delete
{
	position:absolute;
	top:-6px;
	right:-8px;
	width:16px;
	height:16px;	
	z-index:9;
}
td.UploadFile input
{
	float:left;
}

td.UploadFile div.uploadify
{
	float:left;
	position:relative;
	margin:2px 3px;
	padding:0;
	background:#6480d0;
	font-size:12px;
	color:#ffffff;
	text-align:center;
	border:1px solid #3a61c5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
td.UploadFile .uploadify-queue
{
	display:none;
}
td.UploadFile div.uploadify .swfupload
{
	top:0;
	left:0;
}