﻿
html,body{margin:0;padding:0;height:100%;}
body{font-family: "Century Gothic", "Microsoft YaHei",Helvetica;font-size:12px;color:#333333;background:#c8c8c8 url(images/bg_glo.gif) repeat-y center center;}
input,textarea{font-family: "Century Gothic", "Microsoft YaHei",Helvetica;font-size:12px;color:#333333;}
@font-face{
	font-family:'Century Gothic';
	src: url(CenturyGothic.eot); 
	src: url(CenturyGothic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
		   url(CenturyGothic.ttf)  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
	font-family:'Jenna Sue';
	src: url(JennaSue.eot); 
	src: url(JennaSue.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
		   url(JennaSue.ttf)  format('truetype'); /* Safari, Android, iOS */
}

form,div{margin:0;padding:0;}
img{border-width:0px;vertical-align:middle;}

a {color:#0000cc; text-decoration:underline;}
a:hover {color:#0000cc;text-decoration:underline;}

input[type="text"],input[type="password"],textarea
{
    position: relative;
    height: 18px;
	margin:2px;
    padding: 3px 5px;
    background:#fff;
	color:#777777;
    border: 1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/Styles/PIE.htc);
}

/*wrapper*/
#glo_wrapper 
{
	position:relative;
	width:980px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background:#ffffff;
}

/*toolbar*/
.glo_toolbar {
	position:relative;
	clear:both;
	overflow:hidden;
	padding:13px 0;
	background:#4280c2;
	/*background:#6A7EA9;*/
	font-size:11px;
	text-align:center;
}
.glo_toolbar span
{
	color:#efefef;
	margin-right:12px;
}
.glo_toolbar a {
	color:#efefef;
	text-decoration:none;
	margin:0 5px;
}
.glo_toolbar a:hover {
	color:#efefef;
	text-decoration:underline;
}

/*header*/
.glo_header 
{
	position:relative;
	clear:both;
	padding:25px 30px 10px 30px;
	height:60px;
	text-align:right;
}
.glo_header a 
{
	color:#333333; 
	text-decoration:none;
}
.glo_header a:hover
{
	color:#333333; 
	text-decoration:underline;
}
.glo_header a img
{
	border-width:0;
}
/*header logo*/
.glo_header .header_logo {
	float:left;
	margin-left:10px;
}
/*header register*/
.glo_header .header_register 
{
	float:right;
	height:30px;
	line-height:30px;
}
/*header username*/
.glo_header .header_user {
	float:right;
	height:30px;
	line-height:30px;
	padding:0 10px;
	border-right:1px solid #555555;
	max-width:270px;
	overflow:hidden;
	white-space:nowrap;
}
.glo_header .header_user img
{
	margin-right:5px;
	max-width:30px;
	max-height:30px;
}
/*header info*/
.glo_header .header_message {
	position:relative;
	float:right;
	height:30px;
	line-height:30px;
	padding:0 10px;
	border-right:1px solid #555555;
}
.header_message .message_number 
{
	position:absolute;
	top:-2px;
	right:7px;
	color:#ffffff;
	font-family:Helvetica;
	font-size:10px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	-webkit-text-size-adjust:none;
}
/*header logout*/
.glo_header .header_logout {
	float:right;
	height:26px;
	line-height:26px;
	padding:0 10px;
}
/*header search*/
.glo_header .search_box
{
	position:relative;
	float:right;
	margin-top:2px;
	width:405px;
}
.search_box .dropdown_box
{
	width:100px;
	margin-top:2px;
}
.search_box .dropdown_box input.dropdown_value
{
	width:65px;
}
.search_box .dropdown_box div.dropdown_option
{
	width:100px;
}
.search_box .search_right
{
	float:left;
	margin-left:5px;
}
.search_box .search_right input.search_text 
{
	position:relative;
	width:240px;
	height:16px;
	padding:4px 10px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}

/*body*/
.glo_body 
{
	position:relative;
	clear:both;
	padding:15px 0;
}
.glo_fixer
{
	clear:both;
}

/*foot*/
.glo_footer {
	clear:both;
	padding:10px 40px 30px 40px;
	text-align:right;
	font-size:11px;
	color:#555555;
}

/*layer*/

.layermask
{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(images/black70.png);		
	z-index:999998;
}
.layerwrap
{
	position:fixed;
	top:35%;
	left:40%;
	width:420px;
	height:auto;
	overflow:hidden;
	line-height:150%;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior: url(/Styles/PIE.htc);			
	z-index:999999;
}
.layerhead
{
	clear:both;
	overflow:hidden;
	padding:4px 10px;
	background:#3874BA;
	border-bottom:1px solid #666666;
}
.layerhead span
{
	float:left;
	font-size:15px;
	color:#ffffff;
}
.layerhead img
{
	float:right;
	cursor:pointer;
	width:16px;
	height:16px;
}
.layermain
{
	clear:both;
	overflow:hidden;
	padding:16px 12px 12px 12px;
	min-height:80px;
	height:auto;
	font-size:12px;
}
.layerfoot
{
	clear:both;
	overflow:hidden;
	padding:5px 10px;
	text-align:center;
}

/*public style start*/
ul.decimal {list-style-type:decimal;}
ul.alpha {list-style-type:lower-alpha;}

.font {font-family:Helvetica;}

span.required
{
	color:Red;
	margin:0 10px;
}
span.remind
{
	color:gray;
	margin:0 5px;
}
span.gray
{
	color:#777777;
}
span.red
{
	color:Red;
}
/*close icon*/
.me_close {
	position:absolute;
	right:-10px;
	top:-10px;	
	width:43px;
	height:43px;
	z-index:3;
}
.me_close2 {
	position:absolute;
	right:-10px;
	top:15px;	
	width:43px;
	height:43px;
	z-index:3;
}

/*apply icon*/
.me_apply {
	position:absolute;
	right:-10px;
	bottom:-10px;	
	width:43px;
	height:43px;
	z-index:3;
}
/*edit icon*/
.me_edit {
	position:absolute;
	right:-10px;
	bottom:-10px;	
	width:43px;
	height:43px;
	z-index:13;
}
.me_edit2 {
	position:absolute;
	left:260px;
	bottom:-20px;	
	width:43px;
	height:43px;
	z-index:13;
}
.me_edit3 {
	position:absolute;
	right:-10px;
	bottom:-20px;	
	width:43px;
	height:43px;
	z-index:99;
}

/*dropdown*/
.dropdown_box
{
	position:relative;
	float:left;
	width:80px;
	height:18px;
	padding:3px 0;
	background:#e6e7e9;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.dropdown_box input.dropdown_value
{
	float:left;
	margin:0 0 0 8px;
	padding:0;
	width:45px;
	height:18px;
	background:#e6e7e9;
	color:#777777;
	border-width:0;
	cursor:default;
}
.dropdown_box img.dropdown_arrow
{
	float:right;
	margin:5px 8px 0 0;
	cursor:default;
	cursor:pointer;
}
.dropdown_box div.dropdown_option
{
	display:none;
	position:absolute;
	width:80px;
	height:auto;
	top:26px;
	left:-1px;
	z-index:2;
	overflow:auto;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/Styles/PIE.htc);
}
.dropdown_box div.dropdown_option ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.dropdown_box div.dropdown_option li
{
	position:relative;
	clear:both;
	display:block;
	height:20px;
	line-height:20px;
	text-align:left;
	margin:0;
	padding:0 10px;
	background:#f5f5f5;
	color:#777777;
	font-size:14px;
	cursor:default;
}
.dropdown_box div.dropdown_option li:hover
{
	background:#809cff;
	color:#ffffff;
}

/*button - gray/blue*/
input.graybtn
{
	position:relative;
	margin:2px 3px;
	padding:3px 5px;
	background:#cfcfcf;
	font-size:12px;
	color:#333333;
	border:1px solid #bfbfbf;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #aaa 0 0 10px inset;
	-moz-box-shadow: #aaa 0 0 10px inset;
	box-shadow: #aaa 0 0 10px inset;	
}
input.graybtn2
{
	position:relative;
	margin:2px 3px;
	padding:3px 30px;
	background:#cfcfcf;
	font-size:12px;
	color:#333333;
	border:1px solid #bfbfbf;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #aaa 0 0 10px inset;
	-moz-box-shadow: #aaa 0 0 10px inset;
	box-shadow: #aaa 0 0 10px inset;	
}
input.bluebtn
{
	position:relative;
	margin:2px 3px;
	padding:3px 5px;
	background:#6480d0;
	font-size:12px;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;	
}
input.bluebtn2
{
	position:relative;
	margin:2px 3px;
	padding:3px 30px;
	background:#6480d0;
	font-size:12px;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;	
}
input.bluebtn3
{
	position:relative;
	width:100px;
	margin:2px 4px;
	padding:3px 5px;
	background:#6480d0;
	font-size:12px;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;	
}

.permissionbtn
{
	position:relative;
	width:260px;
	margin:5px 0;
	padding:3px 15px;
	text-align:center;
	background:#224f84;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
	border:5px solid #5076a5;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: #a7bfdc 0 0 6px inset;
	-moz-box-shadow: #a7bfdc 0 0 6px inset;
	box-shadow: #a7bfdc 0 0 6px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}

/*validate input border*/
.input_error,div input.input_error,div textarea.input_error,td input.input_error,td textarea.input_error,td .input-validation-error,.box_form input.input_error,.box_form textarea.input_error,div.lightbox_message input.input_error,div.lightbox_message textarea.input_error,.box_form .input-validation-error,div input[type="text"].input_error,div input[type="password"].input_error
{
	position:relative;
	border:1px solid #ff3300;
	-webkit-box-shadow: #ee0000 0 0 5px;
	-moz-box-shadow: #ee0000 0 0 5px;
	box-shadow: #ee0000 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}

div.select_error
{
	position:relative;
	border:1px solid #ff3300;
	-webkit-box-shadow: #ee0000 0 0 5px;
	-moz-box-shadow: #ee0000 0 0 5px;
	box-shadow: #ee0000 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
div.multiple_box input.input_error,div.multiple_box input.input-validation-error
{
	border-width:0;
	-webkit-box-shadow: #ee0000 0 0 0;
	-moz-box-shadow: #ee0000 0 0 0;
	box-shadow: #ee0000 0 0 0;			
	behavior: url(/Styles/PIE.htc);
}

/*dropdown*/
.select_box
{
	position:relative;
	float:left;
	width:200px;
	height:18px;
	padding:3px 0;
	background:#e6e7e9;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
	z-index:1000;
}
.select_box_type
{
	margin:5px;
}
.select_box_degree
{
	margin:5px;
	background:#ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.select_box_question
{
	width:300px;
}

.select_box input.select_value
{
	float:left;
	margin:0 0 0 10px;
	padding:0;
	width:145px;
	height:18px;
	background:#e6e7e9;
	color:#777777;
	border-width:0;
	cursor:default;
}
.select_box_degree input.select_value
{
	background:#ffffff;
}
.select_box_question input.select_value
{
	width:255px;
}
.select_box img.select_arrow
{
	float:right;
	margin:5px 10px 0 0;
	cursor:default;
	cursor:pointer;
}
.select_box div.select_option
{
	display:none;
	position:absolute;
	min-width:200px;
	width:auto;
	max-height:300px;
	height:auto;
	top:26px;
	left:-1px;
	z-index:1000;
	overflow:auto;
	background:#ffffff;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/Styles/PIE.htc);
}
.select_box div.select_option ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.select_box div.select_option li
{
	position:relative;
	clear:both;
	display:block;
	text-align:left;
	margin:1px;
	padding:3px 10px;
	background:#f5f5f5;
	color:#777777;
	cursor:default;
	border-bottom:1px dashed #cccccc;
	white-space:nowrap;
}
.select_box div.select_option li:hover
{
	background:#809cff;
	color:#ffffff;
}
.select_box_degree div.select_option li
{
	background:#ffffff;
}
.select_box div.select_option li img.value_delete
{
	position:absolute;
	top:1px;
	right:3px;
	width:16px;
	height:16px;	
	z-index:9;
}

/*multiple lightbox*/
.multiple_user .multiple_box
{
	width:377px;
	padding:5px 0;
	border:none;
	border-bottom:1px solid #bbbbbb;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.multiple_user .multiple_box input.multiple_value
{
	width:322px;
	font-size:12px;
	font-family:Helvetica;
}
.multiple_box
{
	position:relative;
	float:left;
	width:200px;
	height:18px;
	padding:3px 0;
	background:#e6e7e9;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.multiple_box input.multiple_value
{
	float:left;
	margin:0 0 0 10px;
	padding:0;
	width:145px;
	height:18px;
	background:#e6e7e9;
	color:#777777;
	border-width:0;
	cursor:default;
}
.multiple_box img.multiple_arrow
{
	float:right;
	margin:5px 10px 0 0;
	cursor:default;
	cursor:pointer;
}
.multiple_box div.multiple_wrapper
{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:99999;
	background:url(images/black70.png);	
}
.multiple_box div.multiple_location,.multiple_box div.multiple_industry
{
	position:relative;
	width:800px;
	height:500px;
	margin:100px auto 0 auto;
	padding:20px 10px;
	z-index:2;
	background:#ffffff;
	border:1px solid #a8a9ab;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);
}
.multiple_location .location_left,.multiple_industry .industry_left
{
	position:relative;
	float:left;
	width:260px;
	height:498px;
	padding-right:10px;
	overflow:hidden;	
	background:#ffffff;
	border-right:1px solid #bbbbbb;
	text-align:left;
}
.multiple_location .location_right,.multiple_industry .industry_right
{
	position:relative;
	float:left;
	width:518px;
	height:498px;
	padding-left:10px;
	overflow:hidden;	
	background:#ffffff;
	text-align:left;
}
.multiple_location h2,.multiple_industry h2
{
	margin:0;
	padding:0 0 10px 0;
	font-size:16px;
	border-bottom:2px solid #bbbbbb;
}
.multiple_location .location_list,.multiple_industry .industry_list
{
	position:relative;
	height:460px;
	overflow:auto;	
}
.multiple_location .location_left a,.multiple_industry .industry_left a
{
	clear:both;
	display:block;
	padding:7px 10px;
	border-bottom:1px dashed #aaaaaa;
	color:#333333;
	text-decoration:none;
}
.multiple_location .location_left a:hover,.multiple_industry .industry_left a:hover
{
	background:#bbbbbb;
	color:#ffffff;
}
.multiple_location .location_left a.current,.multiple_industry .industry_left a.current
{
	font-weight:bold;
	color:#ffffff;
	background:#A7CDF0;
}
.multiple_location table.location_item,.multiple_industry table.industry_item
{
	display:none;
	width:100%;
	height:auto;
	border-collapse:collapse;
	border-spacing:0;
}
.multiple_location .location_item td,.multiple_industry .industry_item td
{
	width:170px;
	padding:0;
	border:1px dashed #cccccc;
}
.multiple_location .location_item a,.multiple_industry .industry_item a
{
	display:block;
	padding:7px 10px;
	color:#333333;
	text-decoration:none;	
}
.multiple_location .location_item a:hover,.multiple_industry .industry_item a:hover
{
	color:#ffffff;
	background:#cc3300;
}

/*masklayer*/
#lightboxwrapper {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:9999;
}
#lightboxwrapper2 {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:9998;
}
.lightbox_mask 
{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(images/black70.png);	
}
.lightbox_manage {
	position:relative;
	width:980px;
	margin:0 auto;	
}

.lightbox_emailbox
{
	position:absolute;
	top:160px;
	left:210px;
	width:560px;	
	min-height:350px;
	padding:10px 5px;
	z-index:10;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.selectuser_box {
	position:absolute;
	top:155px;
	left:190px;
	width:600px;
	height:410px;
}
.selectuser_header
{
	position:relative;
	overflow:hidden;
	clear:both;
}
.selectuser_item
{
	position:relative;
	float:left;
	cursor:pointer;
	width:150px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#E6E7E9;
	border-top:1px solid #bbbbbb;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	behavior: url(/Styles/PIE.htc);
}
.item_middle
{
	border-left:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
}
.item_active
{
	color:#ffffff;
	font-weight:bold;
	background:#3874BA;
}
.selectuser_container {
	position:relative;
	overflow:auto;
	clear:both;
	height:340px;
	background:#ffffff;
	padding:15px;
	border:1px solid #bbbbbb;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	behavior: url(/Styles/PIE.htc);
}

.selectuser_container input[type="text"]
{
	position:relative;
	width:250px;
	height:15px;
	padding:5px;
	color:#777777;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.selectuser_container input[type="button"]
{
	position:relative;
	margin-left:10px;
	width:auto;
	height:25px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.selectuser_container table
{
	border-collapse:collapse;
	width:100%;
}
.selectuser_container td
{
	padding:10px 0;
	text-align:left;
}
.selectuser_container td.tdheader
{
	border-bottom:1px dashed #BBBBBB;
}
.selectuser_details
{
	height:268px;
	overflow:auto;
}
.selectuser_list
{
	position:relative;
	float:left;
	width:100px;
	margin:5px;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.selectuser_icon
{
	position:relative;
	clear:both;
	background:#949494 url(images/user_gray.gif);
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	overflow:hidden;
}
.selectuser_icon img
{
	max-height:100px;
	max-width:100px;
}
.selectuser_icon input
{
	position:absolute;
	right:0;
	bottom:0;
}
.selectuser_name
{
	clear:both;
	height:15px;
	line-height:15px;
	overflow:hidden;
	padding:2px 0;
	cursor:default;
	font-size:12px;
}
.selectuser_list a
{
	color:#333333;
	text-decoration:none;
}
.selectuser_list a:hover
{
	color:#0000cc;
	text-decoration:underline;
}

/*login*/
.login_mask
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(images/gray30.png);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);
	z-index:99999;
}
.login_window
{
	position:relative;
	width:500px;
	margin:160px auto 0 auto;
	padding:15px 10px;
	background:#fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);
}
.login_window table
{
	width:100%;
	border-collapse:collapse;
}
.login_window th
{
	padding:2px 5px 10px 5px;
	font-weight:normal;
	font-size:16px;
	text-align:center;
}
.login_window td
{
	padding:6px 5px;
}
.login_window td.head
{
	border-bottom:1px dashed #bbbbbb;
}
.login_window td.title
{
	width:100px;
	padding:10px 5px 6px 20px;
	vertical-align:top;
}
.login_window input[type="text"],.login_window input[type="password"]
{
	position:relative;
	width:260px;
	height:18px;
	padding:4px 5px;
	color:#333333;
	background:#dfdfdf;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	behavior: url(/Styles/PIE.htc);	
}
.txtcenter{ text-align:center;}
.txtleft{ text-align:left;}
.txtright{ text-align:right;}
.txttop{ vertical-align:top;}
.txtmiddle{ vertical-align:middle;}
.txtbottom{ vertical-align:bottom;}