﻿
/*login error*/
#glo_error 
{
	display:none;
	position:absolute;
	background:url(images/box1.gif) no-repeat;
	right:120px;
	top:105px;
	width:300px;
	height:145px;
	z-index:9;
}
#glo_error .message 
{
	clear:both;
	padding:40px 0 10px 0;
	text-align:center;
	font-size:12px;
}
#glo_error a 
{
	color:#333333;
}

/*body left*/
.body_left
{
	position:relative;
	float:left;
	width:410px;
	padding:20px 0 0 15px;
}
.left_leader
{
	clear:both;
	height:448px;
	overflow:hidden;
	padding:0 0 0 30px;
}
.leader_item
{
	position:relative;
	float:left;
	width:90px;
	height:95px;
	line-height:95px;
	text-align:center;
	margin:7px 8px;
	overflow:hidden;
	background:#ffffff;
	border: 1px solid #aaa;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/Styles/PIE.htc);
}
.leader_item img
{
	position:relative;
	max-width:90px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/Styles/PIE.htc);
}
.left_areyou
{
	clear:both;
	overflow:hidden;
	padding:15px 10px 10px 50px;
	font-size:18px;
	font-weight:bold;
	color:#777;
}
.left_info
{
	clear:both;
	overflow:hidden;
	padding:10px 0px 13px 0px;
	color:#777;
	text-align:center;
	line-height:16px;
}

/*body right*/
.body_right
{
	position:relative;
	float:right;
	width:490px;
	padding:20px 45px 0 0;
}
.right_login 
{
	position:relative;
	clear:both;
	height:26px;
	padding:8px 0 26px 0;
	text-align:right;
}
.right_login a 
{
	color:#333333; 
	text-decoration:none;
}
.right_login a:hover
{
	color:#333333; 
	text-decoration:underline;
}
.right_login a img
{
	border-width:0;
}
.right_login .login_register 
{
	float:right;
	height:26px;
	line-height:26px;
	padding:0 5px;
}
.right_login .login_sign
{
	float:right;
	height:26px;
	line-height:26px;
	padding:0 5px;
}
.right_login .login_input 
{
	float:right;
	height:26px;
	line-height:26px;
	padding:0 5px;
}
.right_login input.username 
{
	position:relative;
	width:158px;
	height:18px;
	background:#efefef;
	margin:0;
	padding:3px 5px;
	color:#333;
	border:1px solid #ccc;	
	margin-right:-2px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;			
	behavior: url(/Styles/PIE.htc);
}
.right_login input.password 
{
	position:relative;
	width:158px;
	height:18px;
	background:#efefef;
	margin:0;
	padding:3px 5px;
	color:#333;
	border:1px solid #ccc;	
	margin-left:-2px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;		
	behavior: url(/Styles/PIE.htc);
}
.right_login input.light 
{	
	border:1px solid #708dfa;	 
	-webkit-box-shadow: #708dfa 0 0 3px;
	-moz-box-shadow: #708dfa 0 0 3px;
	box-shadow: #708dfa 0 0 3px;
	behavior: url(/Styles/PIE.htc);
	z-index:1;
}

.right_login .login_logout,.right_login .login_message,.right_login .login_user {
	float:right;
	height:26px;
	line-height:26px;
	padding:0 8px;
}
.right_login .login_user {
	border-right:1px solid #555555;
	overflow:hidden;
	white-space:nowrap;
}
.right_login .login_user img
{
	margin-right:5px;
	max-width:26px;
	max-height:26px;
}
.right_login .login_message 
{
	position:relative;
	border-right:1px solid #555555;
}
.login_message .message_number 
{
	position:absolute;
	top:-2px;
	right:4px;
	color:#ffffff;
	font-family:Helvetica;
	font-size:10px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	-webkit-text-size-adjust:none;
}

.right_login .login_search
{
	position:relative;
	float:right;
}
.login_search .dropdown_box
{
	width:70px;
	margin-top:2px;
}
.login_search .dropdown_box input.dropdown_value
{
	width:35px;
}
.login_search .dropdown_box div.dropdown_option
{
	width:70px;
}
.login_search .search_right
{
	float:left;
	margin-left:5px;
}
.login_search .search_right input.search_text 
{
	position:relative;
	width:140px;
	height:16px;
	padding:4px 8px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.right_box
{
	position:relative;
	background:#ffffff;
	height:321px;
	border: 1px solid #6f7278;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #101720 0 0 8px;
	-moz-box-shadow: #101720 0 0 8px;
	box-shadow: #101720 0 0 8px;
	behavior: url(/Styles/PIE.htc);
}
.right_info 
{
	position:relative;
	clear:both;
	overflow:hidden;
	padding:35px 0 20px 0;
	color:#555;
	text-align:center;   
	line-height:140%;
}     
.right_image {     
	position:relative;
	clear:both;
	overflow:hidden;
	padding:25px 40px;
	color:#555;  
	line-height:130%;
	text-align:center;   
	background:#fff;
	font-family: "Jenna Sue",cursive;
	font-size:30px;
	color:#333;
	border-bottom: 1px solid #a5a5a5;	            
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: #8a8a8a 0 2px 6px;
	-moz-box-shadow: #8a8a8a 0 2px 6px;
	box-shadow: #8a8a8a 0 2px 6px;			
	behavior: url(/Styles/PIE.htc);
}
.right_image img
{
	margin-bottom:20px;
}
.right_action {
	clear:both;
	overflow:hidden;
	font-size:15px;  
	color:#333;
}
.action_info
{
	overflow:hidden;
	padding:8px 0;
	text-align:center;   
	line-height:140%;
}
.action_info a
{
	display:block;	
	color:#333;
	height:70px;
	width:440px;
	margin:0 auto;
	padding:15px 0;
	text-decoration:none;
	background:url(images/bg_activeinfo.png) center center no-repeat;
}
.action_info a:hover
{
	color:#333;
	text-decoration:none;
}

.action_search {
	float:left;
	width:280px;
	padding:23px 0;
	border-right:2px dashed #aaa;
	font-size:14px;  
	color:#333;
}
.action_register {
	float:left;
	width:205px;
	padding:23px 0;
	font-size:14px;  
	color:#333;
}
.action_search div,.action_register div {
	clear:both;
	position:relative;
	padding:6px 0;
	text-align:center;
}
.action_search a {
	display:block;
	position:absolute;
	top:10px;
	left:32px;
}
.right_action input.search {
	position:relative;
	width:195px;
	height:18px;
	padding:3px 5px 3px 25px;
	background:#ffffff;
	color:#555;
	border:1px solid #bcbcbc;	            
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #c5c5c5 0 0 3px;
	-moz-box-shadow: #c5c5c5 0 0 3px;
	box-shadow: #c5c5c5 0 0 3px;		
	behavior: url(/Styles/PIE.htc);
}
.right_action input.register {
	position:relative;
	width:156px;
	height:26px;
	padding:3px 5px;
	background:#fbfbfb;
	color:#444;
	border:1px solid #bcbcbc;	            
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #c5c5c5 0 0 5px inset;
	-moz-box-shadow: #c5c5c5 0 0 5px inset;
	box-shadow: #c5c5c5 0 0 5px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.right_action input.light {
	
	border:1px solid #708dfa;	 
	-webkit-box-shadow: #708dfa 0 0 3px;
	-moz-box-shadow: #708dfa 0 0 3px;
	box-shadow: #708dfa 0 0 3px;
	behavior: url(/Styles/PIE.htc);
}

.right_items
{
	clear:both;
	padding:30px 0 8px 0;
	height:120px;
}
.right_items .items_wrap,.right_items .items_wrap_last
{
	position:relative;
	float:left;
	overflow:hidden;
	width:113px;
	height:49px;
	margin:0 20px 0 5px;
	padding:28px 15px;
	text-align:center;
	font-size:18px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 6px;
	-moz-box-shadow: #8a8a8a 0 0 6px;
	box-shadow: #8a8a8a 0 0 6px;
	behavior: url(/Styles/PIE.htc);	
}
.right_items .items_wrap_last
{
	margin:0;
}
.right_items .items_wrap a,.right_items .items_wrap_last a
{
	color:#333333;
	text-decoration:none;
}

/*hidden boxer*/
.glo_hideboxer
{
	position:relative;
	clear:both;
	overflow:hidden;
	margin-top:10px;
	padding:25px 20px;
	background:#eee;
}
.glo_hideboxer .hideboxer_list
{
	position:relative;
	float:left;
	width:190px;
	height:245px;
	overflow:hidden;
	margin:0 14px;	
	padding:10px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 6px;
	-moz-box-shadow: #8a8a8a 0 0 6px;
	box-shadow: #8a8a8a 0 0 6px;
	behavior: url(/Styles/PIE.htc);
}
.hideboxer_list .list_title
{
	clear:both;
	overflow:hidden;
	font-size:16px;
	text-align:center;
}
.hideboxer_list .list_user {
	position:relative;
	float:left;
	width:80px;
	height:100px;
	overflow:hidden;
	margin:12px 6px 0 6px;
}
.list_user .user_icon
{	
	position:relative;
	clear:both;
	overflow:hidden;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	margin:0 6px;
	padding:4px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: #8a8a8a 0 0 3px;
	-moz-box-shadow: #8a8a8a 0 0 3px;
	box-shadow: #8a8a8a 0 0 3px;
	behavior: url(/Styles/PIE.htc);	
}
.list_user .user_icon img {		
	max-width:60px;
	max-height:60px;
}
.list_user .user_name
{	
	clear:both;
	padding:3px 0;
	overflow:hidden;
	font-size:10px;
	text-align:center;
	-webkit-text-size-adjust:none;
}
.list_user .user_name a
{
	color:#333333;
	text-decoration:none;
}
.glo_hideboxer .hideboxer_other
{
	float:left;
	width:190px;
	height:267px;
	margin:0 0 0 15px;	
}
.hideboxer_other .other_item
{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0;
	width:190px;
	height:116px;
	line-height:116px;
	text-align:center;
	font-size:18px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 6px;
	-moz-box-shadow: #8a8a8a 0 0 6px;
	box-shadow: #8a8a8a 0 0 6px;
	behavior: url(/Styles/PIE.htc);	
}
.hideboxer_other .other_item_new,.hideboxer_other .other_item_search
{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0;
	width:190px;
	padding:25px 0;
	text-align:center;
	font-size:18px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 6px;
	-moz-box-shadow: #8a8a8a 0 0 6px;
	box-shadow: #8a8a8a 0 0 6px;
	behavior: url(/Styles/PIE.htc);	
}
.hideboxer_other .other_item_search
{
	padding:0 0 18px 0;
	height:118px;
}
.hideboxer_other .other_item_search div
{
	position:relative;
	padding:19px 0 0 0;
}
.hideboxer_other .other_item_search a {
	display:block;
	position:absolute;
	top:18px;
	left:22px;
}
.hideboxer_other .other_item_search input.search {
	position:relative;
	width:125px;
	height:18px;
	padding:3px 5px 3px 25px;
	background:#ffffff;
	color:#555;
	border:1px solid #bcbcbc;	            
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #c5c5c5 0 0 3px;
	-moz-box-shadow: #c5c5c5 0 0 3px;
	box-shadow: #c5c5c5 0 0 3px;		
	behavior: url(/Styles/PIE.htc);
}
.hideboxer_other .other_hack
{
	clear:both;
	overflow:hidden;
	height:31px;
}
.hideboxer_other .other_item a,.hideboxer_other .other_item_new a
{
	color:#333333;
	text-decoration:none;
}

/*sns icon*/
.glo_sns
{
	position:absolute;
	bottom:-30px;
	left:20px;
	color:#555;
	font-size:14px;
}
.glo_sns a,.glo_sns a:hover
{
	font-size:12px;
	color:#777;
	text-decoration:none;
}
.glo_sns img
{
	margin:-3px 3px 0 0;
}