﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<List<GLO.Data.Models.GLO_Company>>" %>
	<div class="content_list">
        <div class="list_item">
            <div class="item_title">Good Employers</div>                    
               <%-- <%foreach (var company in Model)
                    { %>
                    <div class="item_user">
                        <div class="user_icon"><a href="/Company/CompanyIndex?companyid=<%=company.UserID %>" target="_blank" title="<%=company.CompanyName %>"><img src="/images/<%=!String.IsNullOrEmpty(company.LogoUrl)?company.LogoUrl:"user_none.gif" %>" /></a></div>
                        <div class="user_name"><a href="/Company/CompanyIndex?companyid=<%=company.UserID %>" target="_blank" title="<%=company.CompanyName %>"><%=company.CompanyName.Length > 30 ? company.CompanyName.Substring(0, 28) + "..." : company.CompanyName%></a></div>
                    </div>
                <%} %>--%>
                        
                            <div class="item_user">
                                <div class="user_icon"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="Good Leaders Online(GLO)"><img src="/images/home_user13.jpg" /></a></div>
                                <div class="user_name"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="Good Leaders Online(GLO)">Good Leaders Online(GLO)</a></div>
                            </div>
                            <div class="item_user">
                                <div class="user_icon"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="Gangfen"><img src="/images/home_user14.jpg" /></a></div>
                                <div class="user_name"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="Gangfen">Gangfen</a></div>
                            </div>
                            <div class="item_user">
                                <div class="user_icon"><a href="/Company/CompanyIndex?companyid=1518" target="_blank" title="ShinetechChina"><img src="/images/home_user15.jpg" /></a></div>
                                <div class="user_name"><a href="/Company/CompanyIndex?companyid=1518" target="_blank" title="ShinetechChina">ShinetechChina</a></div>
                            </div>
                            <div class="item_user">
                                <div class="user_icon"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="CGL"><img src="/images/home_user16.jpg" /></a></div>
                                <div class="user_name"><a href="/Company/CompanyIndex?companyid=504" target="_blank" title="CGL">CGL</a></div>
                            </div>
                    
        </div>
        <div class="list_link">
        <%:Html.ActionLink("Create your company profile", "RegisterWelocome", "Account")%>
        </div>
        <div class="list_view">
            <a href="/Sample/CompanyIndex" target="_blank">View a sample</a>
        </div>
 </div>