﻿
/*expert nav*/
.nav_expert {
	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
	height:40px;
}
.nav_expert ul {
	list-style:none;
	margin:0;
	padding:0;
}
.nav_expert li {
	display:block;
	float:left;
	width:120px;
	padding:7px 0;
	overflow:hidden;
	text-align:center;
	white-space:nowrap; 
}
.nav_expert li.userinfo {
	width:288px;
}
.nav_expert li,.nav_expert li a{
	color:#333333;
	text-decoration:none;
	font-size:11px;
}
.nav_expert li.active,.nav_expert li.active a{
	color:#0000cc;
	font-size:11px;
}
.nav_expert li.dashboard,.nav_expert li.dashboard a{
	color:#ffffff;
}
.nav_expert_how {
	background:#ffffff url(images/nav_expert1.gif) left top no-repeat;
}
.nav_expert_credential {
	background:#ffffff url(images/nav_expert2.gif) left top no-repeat;
}
.nav_expert_competence {
	background:#ffffff url(images/nav_expert3.gif) left top no-repeat;
}
.nav_expert_recommendation {
	background:#ffffff url(images/nav_expert4.gif) left top no-repeat;
}
.nav_expert_dashboard {
	background:#ffffff url(images/nav_expert5.gif) left top no-repeat;
}

.nav_expert_edit {
	clear:both;
	height:26px;
	padding:7px 0;
	overflow:hidden;	
	color:#0000cc;
	font-size:12px;	
}

.nav_expert_edit_value {
                background:url(images/nav_expert_edit1.gif) left top no-repeat;
                padding-left:13px;
}
.nav_expert_edit_credential {
                background:url(images/nav_expert_edit2.gif) left top no-repeat;
                padding-left:142px;
}
.nav_expert_edit_recommendation {
                background:url(images/nav_expert_edit4.gif) left top no-repeat;
                padding-left:372px;
}
.nav_expert_edit_assignment {
                background:url(images/nav_expert_edit5.gif) right top no-repeat;
                padding-left:408px;
}

/*leader nav*/
.nav_leader {
	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
	height:40px;
}
.nav_leader ul {
	list-style:none;
	margin:0;
	padding:0;
}
.nav_leader li {
	display:block;
	float:left;
	width:150px;
	padding:6px 0;
	overflow:hidden;
	text-align:center;
	white-space:nowrap; 
}
.nav_leader li.userinfo {
	width:288px;
}
.nav_leader li,.nav_leader li a{
	color:#333333;
	text-decoration:none;
	font-size:14px;
}
.nav_leader li.active,.nav_leader li.active a{
	color:#0000cc;
	font-size:15px;
}
.nav_leader li.dashboard,.nav_leader li.dashboard a{
	color:#ffffff;
}
.nav_leader_interview {
	background:#ffffff url(images/nav_leader1.gif) left top no-repeat;
}
.nav_leader_competence {
	background:#ffffff url(images/nav_leader2.gif) left top no-repeat;
}
.nav_leader_network {
	background:#ffffff url(images/nav_leader3.gif) left top no-repeat;
}
.nav_leader_dashboard {
	background:#ffffff url(images/nav_leader4.gif) left top no-repeat;
}

/*leader edit nav*/
.nav_leader_edit {
	clear:both;
	height:26px;
	padding:7px 0;
	overflow:hidden;	
	color:#0000cc;
	font-size:15px;	
}

.nav_leader_edit_interview {
                background:url(images/nav_leader_edit1.gif) left top no-repeat;
                padding-left:33px;
}
.nav_leader_edit_network {
                background:url(images/nav_leader_edit3.gif) left top no-repeat;
                padding-left:336px;
}

/*company nav*/
.nav_company {
	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
	height:40px;
}
.nav_company ul {
	list-style:none;
	margin:0;
	padding:0;
}
.nav_company li {
	display:block;
	float:left;
	width:222px;
	padding:6px 0;
	overflow:hidden;
	text-align:center;
	white-space:nowrap; 
}
.nav_company li,.nav_company li a {
	color:#333333;
	text-decoration:none;
	font-size:14px;
}
.nav_company li.active,.nav_company li.active a {
	color:#0000cc;
	font-size:16px;
}
.nav_company li.dashboard,.nav_company li.dashboard a{
	color:#ffffff;
}
.nav_company_name {
	background:#ffffff url(images/nav_company1.gif) left top no-repeat;
}
.nav_company_factsheet {
	background:#ffffff url(images/nav_company2.gif) left top no-repeat;
}
.nav_company_job {
	background:#ffffff url(images/nav_company3.gif) left top no-repeat;
}
.nav_company_dashboard {
	background:#ffffff url(images/nav_company4.gif) left top no-repeat;
}

.nav_company_edit {
	clear:both;
	height:26px;
	padding:7px 0;
	overflow:hidden;	
	color:#0000cc;
	font-size:16px;	
}
.nav_company_edit_name {
     background:url(images/nav_company_edit1.gif) left top no-repeat;
    padding-left:87px;
}
.nav_company_edit_factsheet {
    background:url(images/nav_company_edit2.gif) left top no-repeat;
    padding-left:292px;
}
.nav_company_edit_assignment {
    background:url(images/nav_company_edit4.gif) right top no-repeat;
    padding-left:345px;
}

/*user manage*/
.glo_manage {
	position:relative;
	width:890px;
	background:#ffffff;
	margin:0 auto 20px auto;
	z-index:1000;
}
/*boxer*/
.glo_manage .manage_boxer
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	min-height:550px;
	height:auto;
	background:#ffffff url(images/manage_body.gif) left top repeat-y;
}
.glo_manage .manage_boxer2
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	min-height:510px;
	height:auto;
	padding-bottom:40px;
	background:#ffffff url(images/manage_body2.gif) left top repeat-y;
}
.boxer_user
{
	float:left;
	width:258px;
	padding:0 15px;
}
 .boxer_info {
	float:left;
	padding:15px;
	width:570px;
}
.manage_footer
{
	clear:both;
	height:10px;
	line-height:10px;
	overflow:hidden;
	background:#ffffff url(images/manage_foot.gif) left top no-repeat;
}
.manage_footer2
{
	position:relative;
	clear:both;
	height:10px;
	line-height:10px;
	overflow:hidden;
	background:#ffffff url(images/manage_foot2.gif) left top no-repeat;
}


/*user info*/
.box_user_private {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:15px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 0 no-repeat;
}
.box_user_private_on {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:15px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 -18px no-repeat;
}
.box_user_private_view {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:-25px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 0 no-repeat;
}
.box_user_private_on_view 
{
	position:absolute;
	cursor:default;
	left:200px;
	top:-25px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 -18px no-repeat;
}
.box_user_private2 {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:35px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 0 no-repeat;
}
.box_user_private_on2 {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:35px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 -18px no-repeat;
}
.box_user_private_view2 {
	position:absolute;
	cursor:pointer;
	left:200px;
	top:-5px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 0 no-repeat;
}
.box_user_private_on_view2
{
	position:absolute;
	cursor:default;
	left:200px;
	top:-5px;
	width:66px;
	height:18px;
	background:url(images/icon_private.gif) 0 -18px no-repeat;
}
.box_user_photo {
	position:relative;
	width:120px;
	height:120px;
	line-height:120px;
	text-align:center;
	margin:0 8px 8px 8px;
	padding:7px;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);
}
.box_user_photo2 {
	position:relative;
	width:120px;
	height:120px;
	line-height:120px;
	text-align:center;
	margin:15px 8px 8px 8px;
	padding:7px;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);
}
.box_user_photo img,.box_user_photo2 img
{
	max-width:120px;
	max-height:120px;
}
.box_user_name 
{
	clear:both;
	padding:2px 5px;
	color:#2c6ebe;
	font-weight:bold;
	font-size:18px;
	font-family:Helvetica;
	word-wrap:break-word;
}
.box_user_title,.box_user_local,.box_user_industry {clear:both;padding:2px 5px;color:#444444;font-family:Helvetica;}
.box_user_note {
	clear:both;
	padding:5px;
	color:#777777;
	font-size:24px;
	line-height:110%;
	font-family:"Jenna Sue", cursive;
}
.box_user_value {
	clear:both;
	padding:15px 0;
	float:left;
	width:100%;
}
.box_user_value_title
{
	clear:both;
	overflow:hidden;
	padding:0 5px 5px 5px;
}
.value_item {
	position:relative;
	float:left;
	margin:2px 3px;
	padding:2px 8px 3px 8px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #8a8a8a 0 0 10px inset;
	-moz-box-shadow: #8a8a8a 0 0 10px inset;
	box-shadow: #8a8a8a 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:default;
	
}
.value_item_active {
	position:relative;
	float:left;
	margin:2px 3px;
	padding:2px 8px 3px 8px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:default;	
}
.box_user_icon {
	position:relative;
	clear:both;
	overflow:hidden;
	padding:8px 6px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #8a8a8a 0 0 10px inset;
	-moz-box-shadow: #8a8a8a 0 0 10px inset;
	box-shadow: #8a8a8a 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
.icon_index
{
	float:left;
	width:58px;
	text-align:center;
	font-size:9px;	
	-webkit-text-size-adjust:none;
}

.select_box_value
{
	width:80px;
	margin:1px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;		
}
.select_box_value input.select_value
{
	color:#ffffff;
	background:transparent;
	width:50px;
	margin:0 0 0 5px;
}
.select_box_value img.select_arrow
{
	margin:5px 5px 0 0;
}
/*lightbox*/
.lightbox_build
{
	position:absolute;
	left:240px;
	top:230px;
	width:400px;
	min-height:180px;
	padding:36px;
	font-size:13px;
	background:#ffffff;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:24px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_build ul
{
	margin:0;
	list-style-type:decimal;
}
.lightbox_build li
{
	word-wrap:break-word;
}
.message_center
{
	text-align:center;
}

/*company*/
.searchbar {
	position:absolute;
	bottom:-10px;
	left:65px;
	width:756px;
	height:50px;
	overflow:hidden;
	line-height:50px;
	text-align:center;
	background:#ffffff;
	border:2px solid #555;
	-webkit-border-radius: 12px 12px 3px 3px;
	-moz-border-radius: 12px 12px 3px 3px;
	border-radius: 12px 12px 3px 3px;
	behavior: url(/Styles/PIE.htc);
}
.searchbar div {
	position:relative;
	float:left;
	margin-left:30px;
	font-size:13px;
}
.searchbar input {
	position:relative;
	width:205px;
	height:16px;
	padding:3px 8px 3px 25px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.searchbar a {
	display:block;
	position:absolute;
	top:1px;
	left:7px;
}

/*company edit*/
.lightbox_useredit
{	
	position:absolute;
	left:45px;
	top:137px;
	width:890px;
	height:auto;
}
.box_useredit
{
	clear:both;
	overflow:hidden;
	margin:0 1px;
	padding:0 0 45px 0;
	background:#ffffff;
}

.company_info
{
	float:left;
	width:410px;
	min-height:430px;
	padding:20px 0 20px 20px;
	overflow:auto;
}
.company_name
{
	clear:both;
	padding:8px 0;
	color:#777777;
	font-size:18px;
	font-weight:bold;
}
.company_name input
{
	position:relative;
	width:375px;
	height:18px;
	padding:4px 8px;
	background:#e6e7e9;
	color:#777777;
	font-size:16px;
	font-weight:bold;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	behavior: url(/Styles/PIE.htc);	
}
.company_caption
{
	float:right;
	width:455px;
	min-height:430px;
	padding:20px 0;
	overflow:auto;
}
.caption_item
{
	position:relative;
	float:left;
	width:185px;
	height:183px;
	text-align:center;
	margin:10px;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.caption_image
{
	width:185px;
	height:150px;
	line-height:150px;
	text-align:center;	
}
.caption_item img
{
	max-width:185px;
	max-height:150px;
}
.caption_name
{
	clear:both;
	margin-top:5px;
	text-align:center;
	overflow:hidden;
}
.caption_name input
{
	position:relative;
	width:155px;
	height:16px;
	padding:3px 6px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	behavior: url(/Styles/PIE.htc);	
}
.caption_item_edit
{
	position:absolute;
	top:70px;
	left:7px;
	width:120px;
	padding:0 30px;
	line-height:120%;
	text-align:center;
}
.photo_item .uploadify,.photo_item_edit .uploadify,.filearea_item_edit .uploadify,.uploadify
{
    margin:0 auto;
}
.upload_boxer
{
	position:relative;
	clear:both;
	padding:5px;
	height:25px;
}
.upload_boxer .uploadify
{
	float:left;
	margin-right:10px;
}
.upload_boxer span#pptName
{
	float:left;
	display:block;
	margin-top:5px;
}
.upload_boxer a
{
	float:left;
	display:block;
	margin-top:5px;
	margin-left:5px;
}
div.uploadify-queue
{
	margin-bottom:0;
}
.upload_boxer .uploadify-queue
{
	position:absolute;
	top:0;
	left:100px;
	z-index:9;
}
.caption_item_edit .uploadify-queue
{
	position:absolute;
	top:12px;
	left:-50px;
	z-index:9;
}
.btngray 
{
	position: relative;
	height:30px;
	padding:0 15px;
	background:#626367;
	color:#ffffff;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	behavior: url(/Styles/PIE.htc);	
	cursor:pointer;
}

/*factsheet*/
.boxer_company_sheet
{
	border-left:2px dashed #888888;
	width:558px;
}
.privatelayer
{
	display:none;
	position:absolute;
	top:40px;
	left:270px;
	width:300px;
	padding:10px;
	font-size:12px;
	background:#fafafa;
	border:1px solid #bbbbbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior: url(/Styles/PIE.htc);
	z-index:1001;
}
.info_headline
{
	clear:both;
	padding:5px 0;
	color:#444444;
	font-weight:bold;
}
.info_description
{
	clear:both;
	color:#777777;
	padding:2px 0 10px 0;
}
.info_contact
{
	position:relative;
	clear:both;
	overflow:hidden;
	margin-top:20px;
}
table.tbcontact
{
	float:right;
}
table.tbcontact td
{
	padding:3px;
}
.contact_box
{
	position:relative;
	clear:both;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.contact_box img
{
	max-width:50px;
	max-height:50px;
	border:none;
}
.contact_item
{
	position:relative;
	clear:both;
	width:110px;
	margin:2px;
	overflow:hidden;
	padding-bottom:5px;
}
.contact_item .uploadify
{
	padding-bottom:10px;
}
.contact_item .btngray
{
	margin-left:15px;
	margin-bottom:5px;
}
.contact_line
{
	position:relative;
	clear:both;
	overflow:hidden;
	padding:0 0 5px 0;
	line-height:120%;
	text-align:left;
}
.contact_line input[type="text"]
{
	width:120px;
	padding:2px 3px;
	color:#777777;
}
.area_sheet
{	
	width:460px;
	height:60px;
}
.text_sheet
{
	width:460px;
	height:20px;
}
.photo_item_edit {
	position:absolute;
	top:55px;
	left:7px;
	width:120px;
	line-height:120%;
	text-align:center;
}
.photo_item_edit .uploadify-queue
{
	position:absolute;
	top:12px;
	left:12px;
	z-index:9;
}

.upload_boxer img
{
	margin-top:5px;
	margin-left:10px;
}
.box_user_detail {
	clear:both;
	position:relative;
	width:255px;
	float:left;
	text-align:center;
	border:1px solid #bbbbbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior: url(/Styles/PIE.htc);
}
input.txtbox_user1 {padding:5px 10px;margin:0; width:235px;border:none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom:1px solid #bbbbbb;color:#777777;font-weight:bold;font-size:18px;font-family:Helvetica;}
input.txtbox_user2 {padding:5px 10px;margin:0; width:235px;border:none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom:1px solid #bbbbbb;color:#777777;font-size:12px;font-family:Helvetica;}
textarea.txtbox_user3 {padding:5px 10px;margin:0; width:235px;height:105px;border:none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;color:#777777;font-size:24px;font-family:"Jenna Sue", cursive;line-height:110%;}
input.txtbox_user4{padding:5px 10px;margin:0; width:235px;border:none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom:1px solid #bbbbbb;color:#777777;font-weight:bold;font-size:24px;font-family:Helvetica;}
textarea.txtbox_user5 {padding:5px 10px;margin:0; width:235px;height:80px;border:none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;color:#777777;font-size:24px;font-family:"Jenna Sue", cursive;line-height:110%;}

.user_value_add
{
	clear: both;
    overflow: hidden;
    padding-top: 15px;
}

.user_value_custom
{
	clear: both;
	overflow:auto;
}
.user_value_add input.txt_itemadd
{
	width:130px;
	margin-left:5px;
}
.user_value_delete
{
	position:absolute;
	top:-6px;
	right:-8px;
	width:16px;
	height:16px;	
	z-index:9;
}

/*company jobs*/
.manage_company_job
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	height:auto;
	padding-bottom:40px;
	background:#ffffff url(images/search_body3.gif) left top repeat-y;
}
.headsearch
{
	float:left;
	width:276px;
	padding:0 10px;
}
.headsearch h2
{
	font-size:15px;
	font-weight:bold;
	text-align:center;
}

table.search_item td {
	padding:5px 4px;
}
table.search_item
{
	width:100%;	
	border-collapse:collapse;
}
table.search_item td.item_headline {
	color:#3574bb;
	font-size:16px;
}

table.search_item td input.keyword 
{
	position:relative;
	width:180px;
	height:18px;
	padding:3px 10px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.result_title 
{
	clear:both;
	padding:10px 0 5px 0;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	border-bottom:1px solid #b1b2b4;
	border-left-width:0;
	border-right-width:0;
}
.result_container
{
	clear:both;
	overflow:hidden;
}
.result_container table.result {
	width:100%;	
	border-collapse:collapse;
}
.result_container .message_usericon
{
	margin-left:0px;
}
table.result td {
	padding:5px 10px;
	background:#e6e7e9;
	border-bottom:1px solid #b1b2b4;
	border-left:1px solid #b1b2b4;
	border-right:1px solid #b1b2b4;
}
table.result td a 
{
	color:#333333;
}
.headsearch_jobs
{
	float:left;
	width:572px;
	padding:0 10px;
}


/*dash board*/
.dbboxer 
{
	clear:both;
	position:relative;
	overflow:hidden;
	padding:5px 15px 15px 15px;
	background:#666666;
	border:2px solid #212121;
	border-top-width:0;
	-webkit-border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
	behavior: url(/Styles/PIE.htc);
}
.border_inner {
	position:relative;
	background:#ffffff;
	width:856px;
	float:left;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;		
	behavior: url(/Styles/PIE.htc);
	
}
.board_nav {
	float:left;
	width:230px;
	height:640px;
	background:#e6e7e9;
}

.board_nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
.board_nav li {
	display:block;
	clear:both;
	padding: 10px 0;
	border-bottom:1px solid #abaeb7;
}
.board_nav li ul {
	margin-top:10px;
}
.board_nav li li {
	background:#ffffff;
	border-top:1px solid #abaeb7;
	border-bottom-width:0;
}
.board_nav li.level {
	padding-bottom:0;
	background-image:url(images/icon_message2.gif);
	background-position:right 5px;
	background-repeat:no-repeat;
}
.board_nav li.level div
{
	position:relative;
}
.board_nav li.level div a
{
	cursor:default;
}
.board_nav li.level div span
{
	display:block;
	position:absolute;
	top:-8px;
	right:-2px;
	color:#ffffff;
	font-family:Helvetica;
	font-size:10px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	-webkit-text-size-adjust:none;
}
.board_nav li.active {
	background:#3874ba;
}
.board_nav li.active a {
	color:#ffffff;
}
.board_nav li a {
	color:#000000;
	text-decoration:none;
	padding:0 20px;
}
.board_list1 
{
	position:relative;
	float:left;
	width:621px;
	height:640px;
	overflow:auto;
	border-left:1px solid #646464;
}
.board_list2 {
	position:relative;
	float:left;
	width:311px;
	height:640px;
	border-left:1px solid #646464;
}
.board_list3 {
	position:relative;
	float:left;
	width:207px;
	height:640px;
	border-left:1px solid #646464;
}
.board_content {
	position:relative;
	float:left;
	width:310px;
	height:640px;
	border-left:1px solid #646464;
}
.list_title {
	clear:both;
	height:18px;
	padding: 10px 0;
	background:#e6e7e9;
	border-top:1px solid #abaeb7;
	border-bottom:1px solid #abaeb7;
	text-align:center;
	cursor:pointer;
}
.list_info {
	clear:both;
	height:560px;
	overflow:auto;
}
.list_info3 {
	clear:both;
	height:600px;
	overflow:auto;
}
.list_info a {
	color:#333333;
	text-decoration:none;
}
.list_info a:hover {	
	text-decoration:underline;
}
.content_info {
	margin:5px 0;
	padding:10px;
	height:610px;
	overflow:auto;
}
.list_info table,.content_info table
{
	border-collapse:collapse;
	width:100%;
}
.list_info td,.content_info td{
	padding:8px;
	border-bottom:1px dashed #cccccc;
}

.list_info td a,.content_info td a{
	color:#333333;
	text-decoration:none;
}

.list_info td a:hover,.content_info td a:hover{
	color:#0000cc;
	text-decoration:underline;
}
.list_info td a.actived,.content_info td a.actived{
	color:#0000cc;
	text-decoration:none;
}
.list_info tr.current
{
	background:#e6e7e9;
}
.list_info img,.content_info img{
	margin-top:-3px;
	vertical-align:middle;
}

/*dropdown*/
.list_select_head
{
	clear:both;
	padding:15px 20px 10px 20px;
}
.list_select_result
{
	clear:both;
	padding:10px 0 10px 10px;
	height:573px;
	overflow:auto;
}
.list_select_result table
{
	border-collapse:collapse;
	width:100%;
}
.list_select_result td
{
	padding:10px; 
	border-bottom:1px dashed #bbbbbb;
}
.list_select_result td a
{
	color:#333333;
	text-decoration:none;
}
.list_select_result td a.function_edit,.list_select_result td a.function_delete
{
	color:#0000cc;
	text-decoration:none;
}
.list_select_result td a.actived
{
	color:#0000cc;
	text-decoration:none;
}
.list_select_result td a:hover
{
	color:#0000cc;
	text-decoration:underline;
}
.list_select_box
{
	position:relative;
	float:left;
	width:160px;
	height:30px;
	background:#e6e7e9;
	color:#333333;
	border:1px solid #a8a9ab;
}
.list_select_text
{
	float:left;
	padding:0 10px;
	width:105px;
	line-height:30px;
	height:30px;
	cursor:default;
	overflow:hidden;
}
.list_select_arrow
{
	float:right;
	width:35px;
	height:30px;
	background:url(images/icon_add1.gif) center center no-repeat;
	cursor:default;
	cursor:pointer;
}
.list_select_option
{
	display:none;
	position:absolute;
	min-width:200px;
	top:30px;
	left:-1px;
	width:165px;
	z-index:2;
	overflow:hidden;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/Styles/PIE.htc);
}
.list_select_option ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
.list_select_option li
{
	clear:both;
	display:block;
	height:30px;
	line-height:30px;
	text-align:left;
	margin:0;
	padding:0 10px;
	background:#f5f5f5;
	cursor:default;
}
.list_select_option li:hover
{
	background:#809cff;
	color:#ffffff;
}
.select_info_line
{
	clear:both;
	overflow:hidden;
	padding:5px 0;	
}
.select_info_icon
{
	position:relative;
	float:left;
	width:120px;
	height:120px;
	line-height:120px;
	text-align:center;
	margin:5px 10px;
	padding:10px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.select_info_icon img
{
	max-width:120px;
	max-height:120px;
}
.select_info_name
{
	position:absolute;
	width:120px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	top:110px;
	left:10px;
	background:url(images/black70.png);
	text-align:center;
	color:#dddddd;
}
.select_info_user
{
	clear:both;
	overflow:hidden;
}
.select_info_item
{
	clear:both;
	margin:4px 0;
	padding:3px 6px;
	border:1px solid #bbbbbb;
	overflow:hidden;
}
.select_info_button
{
	float:left;
	width:80px;
	margin-top:55px;
}
.btn_select_info
{
	position:relative;
	height:25px;
	margin:2px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.list_info2 
{
	position:relative;
	clear:both;
	overflow:hidden;
}
.info_order_area
{
	clear:both;
	height:39px;
}
table.tborder
{
	width:100%;
	border-collapse:collapse;
}
table.tborder thead tr
{
	position:absolute;
	top:0px;
	left:0;
	z-index:9;
}
table.tborder td
{
	padding:10px 5px;
	border-bottom:1px dashed #cccccc;
}
.list_info_head
{
	height:18px;
	margin:0;
	padding:10px 0;
	text-align:center;
	line-height:18px;
	background:#E6E7E9;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	cursor:pointer;
	font-weight:normal;
}
.head_last
{
	border-right-width:0;
}
.head_active
{
	color:#ffffff;
	font-weight:bold;
	background:#3874BA;
}

.info_result_container
{
	clear:both;
	height:521px;
	overflow:auto;
}
.info_result_container table
{
	width:100%;
	border-collapse:collapse;
}
.info_result_container td
{
	padding:10px;
	border-bottom:1px dashed #cccccc;
}
.info_result_container td a
{
	color:#333333;
	text-decoration:none;
}
.info_result_container td a:hover
{
	color:#0000cc;
	text-decoration:underline;
}

.info_result_container td a.actived
{
	color:#0000cc;
	text-decoration:none;
}

.infor_tag_container
{
	clear:both;
	height:601px;
	overflow:auto;
}
.infor_tag_container table
{
	width:100%;
	border-collapse:collapse;
}
.infor_tag_container td
{
	border-bottom:1px dashed #cccccc;
}
.infor_tag_container td a
{
	color:#333333;
	text-decoration:none;
}
.infor_tag_container td a:hover
{
	color:#0000cc;
	text-decoration:underline;
}

.infor_tag_container td a.actived
{
	color:#0000cc;
	text-decoration:none;
}

.lightbox_message
{
	position:absolute;
	left:210px;
	top:200px;
	width:550px;
	min-height:300px;
	padding:20px;
	background:#ffffff;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_message ul
{
	margin:0;
}
.lightbox_message li
{
	word-wrap:break-word;
}
.lightbox_message .message_headline
{
	font-size:18px;
	font-weight:bold;
	padding:0 0 20px 0;
}
.message_center
{
	text-align:center;
}
.message_center a
{
	color:#0000cc;
	text-decoration:none;
}
.lightbox_message table
{
	border-collapse:collapse;
	width:100%;
}
.lightbox_message td
{
	padding:5px 10px;
}
.lightbox_message td .user_value_add
{
	padding-top:0;
}
.lightbox_message input.title
{	
	position:relative;
	margin:5px;
	width:375px;
	height:18px;
	padding:3px 5px;
	color:#777777;
	border:1px solid #bbbbbb;
	background:#ffffff;
	font-size:12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);		
}
.lightbox_message textarea.content
{	
	position:relative;
	margin:5px;
	width:375px;
	height:120px;
	padding:3px 5px;
	color:#777777;
	border:1px solid #bbbbbb;
	background:#ffffff;
	font-size:12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);		
}
.jobad_box
{
	clear:both;
	position:relative;
	width:300px;
	margin:30px 50px;
	padding:5px 10px;
	text-align:center;
	background:#224f84;
	font-size:16px;
	font-weight:bold;
	color:#ffffff;
	border:5px solid #5076a5;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: #a7bfdc 0 0 6px inset;
	-moz-box-shadow: #a7bfdc 0 0 6px inset;
	box-shadow: #a7bfdc 0 0 6px inset;			
	behavior: url(/Styles/PIE.htc);
	
}
.jobad_box a
{
	color:#ffffff;
	text-decoration:none;
}

.result_container
{
	clear:both;
	height:360px;
	overflow:auto;
}
.result_container2
{
	clear:both;
	height:440px;
	overflow:auto;
}
.result_container3
{
	clear:both;
	height:400px;
	overflow:auto;
}
.result_container table.result,.result_container2 table.result,.result_container3 table.result {
	width:100%;	
	border-collapse:collapse;
}
.result_container3 .message_usericon
{
	margin-left:0px;
}
table.result td {
	padding:5px 10px;
	background:#e6e7e9;
	border-bottom:1px solid #b1b2b4;
	border-left:1px solid #b1b2b4;
	border-right:1px solid #b1b2b4;
}
table.result td a 
{
	color:#333333;
}
table.details
{
	width:100%;	
	border-collapse:collapse;
}
table.ganeral
{
	margin:0px;
}
table.ganeral td 
{
	padding:2px 5px;
	vertical-align:top;
	border-bottom-width:0;
}
table.ganeral td.gray
{
	color:#777777;
}
table.ganeral2 td 
{
	padding:5px;
	vertical-align:top;
	border-bottom-width:0;
}
table.ganeral td.ganeral_title {
	font-weight:bold;
	font-size:18px;
	padding:5px 0 10px 0;
}
table.ganeral td.ganeral_logo img
{
	max-width:80px;
	max-height:80px;
	vertical-align:top;
}
table.ganeral td a
{
	color:#0000cc;
	text-decoration:none;
}
table.ganeral td td
{
	padding:2px 5px;
}
table.detail {
	margin-top:30px;
}
table.detail td
{
	border-bottom-width:0;
}
.resume_box
{
	position:absolute;
	top:0px;
	right:50px;
	text-align:right;
}
.jobactive_box
{
	position:absolute;
	top:5px;
	right:0px;
	text-align:right;
}
span.expiredjob
{
	color:Red;
	font-weight:normal;
	font-size:16px;
}
/*expert assignment*/
.lightbox_box3
{	
	position:absolute;
	right:45px;
	top:137px;
	width:520px;
	height:705px;
}
/*company*/
.lightbox_box4
{	
	position:absolute;
	right:80px;
	top:137px;
	width:980px;
	height:730px;
}
.box_form
{
	padding:15px;
}
.samll_form
{
	padding:0;
}
.box_form td
{
	padding:3px 5px;
}
.box_form table.tb_form td
{
	padding:3px 5px;
}
.samll_form table.tb_form td
{
	padding:3px 5px;
}
.box_form .txt_form
{
	width:290px;
}
.box_form .txt_form2
{
	width:290px;
}
.box_form .btn_form
{
	position:relative;
	width:120px;
	height:26px;
	color:#333333;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.box_form .area_form
{
	width:290px;
	height:120px;	
}
.box_form .area_form2
{
	width:290px;
	height:120px;	
}
.box_form .area_form3
{
	width:290px;
	height:60px;		
}
.box_form .area_form4
{
	width:290px;
	height:60px;		
}
.box_form .form_receive
{
	position:relative;
}
.box_form .receive_wrapper
{
	display:none;
	position:absolute;
	top:33px;
	left:0;
	width:240px;
	height:160px;
	overflow:auto;
	padding:10px;
	border:1px solid #bbbbbb;
	background:#eeeeee;
	z-index:9;
}
.samll_form .txt_form
{
	width:290px;
}
.samll_form .area_form
{
	width:290px;
	height:120px;
}
.samll_form .txt_form2
{
	height:18px;
}
.samll_form .area_form4
{
	height:55px;
}

.board_right
{
	float:left;
	width:625px;
	height:640px;
	border-left:1px solid #646464;
}
div.membership_user
{
	margin:9px 10px;
	padding:10px 20px;
	float:left;
	width:500px;
	background:#666666;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
}
table.tbcompany2
{
	border-collapse:collapse;
	width:100%;
}
table.tbcompany2 td
{
	padding:5px;
	vertical-align:top;
}
table.tbcompany2 td.other
{
	font-size:18px;
	font-weight:bold;
	text-align:left;
}
table.tbcompany2 td.package
{
	font-size:18px;
	font-weight:bold;
	text-align:left;
	padding-left:30px;
}

table.tbcompany2 td div.boxtext
{
	border:1px solid #888888;
	padding:5px;
}
table.tbcompany2 td div.greytext
{
	float:left;
	padding:10px;
	background:#cccccc;
	font-weight:bold;
}
table.tbcompany2 ul
{
	margin:5px 0;
}
.font
{
	font-family:Helvetica;
}
/*add assignment icon*/
.assignment_add {
	position:absolute;
	right:8px;
	top:8px;	
	width:24px;
	height:24px;
}
.assignment_add img {
	border:none;
}

.lightbox_question {
	position:relative;
	width:600px;
	height:350px;
	margin:180px auto 0 auto;
	padding:50px 25px 20px 25px;
	background:#ffffff;
	-webkit-border-radius:8px 8px 12px 12px;
	-moz-border-radius:8px 8px 12px 12px;
	border-radius:8px 8px 12px 12px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_question table {
	border-collapse:collapse;
	width:100%;
}
.lightbox_question td {
	padding:8px 5px;
	vertical-align:top;
}
.lightbox_question td .txtbox5
{
	width:285px;
	height:20px;
}

/*expert edit user info*/
.lightbox_box1 {
	position:absolute;
	left:47px;
	top:136px;
	width:258px;
	min-height:555px;
	padding:25px 15px 20px 15px;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_leader {
	position:absolute;
	left:135px;
	top:200px;
	width:650px;
	height:430px;
	padding:30px;
	background:#ffffff;
	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	border-radius:26px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_leader ul
{
	list-style-type:lower-alpha;
}
.lightbox_leader ul li
{
	padding:3px 0;
}
.lightbox_note{
	position:absolute;
	left:65px;
	top:155px;
	width:220px;
	height:510px;
	padding:30px 15px 20px 15px;
	background:#cfcfcf;
}
.lightbox_note ul
{
	margin:0;
	list-style-type:lower-alpha;
}
.lightbox_note2
{
	position:absolute;
	top:60px;
	left:380px;
	width:360px;
	min-height:200px;
	padding:15px;
	background:#cfcfcf;
}
.lightbox_note3
{
	position:absolute;
	top:35px;
	left:380px;
	width:470px;
	min-height:620px;
	padding:15px;
	background:#cfcfcf;
}
.resume_container
{
	clear:both;
	height:300px;
	margin-top:5px;
	overflow:auto;
}
.resume_container .resume_headline
{
	font-size:16px;
	font-weight:bold;
	padding:0 0 20px 0;
}
.resume_container ul
{
	margin:0;
}
.resume_container li
{
	word-wrap:break-word;
}
.resume_container img
{
	margin:0 0 0 10px;
}
.message_arrow1
{
	position:absolute;
	top:170px;
	right:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow5.png);
	z-index:9;
}
.message_arrow2
{
	position:absolute;
	top:300px;
	right:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow5.png);
	z-index:9;
}
.message_arrow3
{
	position:absolute;
	top:440px;
	right:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow5.png);
	z-index:9;
}
.message_arrow4
{
	position:absolute;
	top:80px;
	left:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow6.png);
	z-index:9;
}
.message_arrow5
{
	position:absolute;
	top:110px;
	left:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow6.png);
	z-index:9;
}
.message_arrow6
{
	position:absolute;
	top:160px;
	right:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow5.png);
	z-index:9;
}
.message_arrow7
{
	position:absolute;
	top:420px;
	right:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow5.png);
	z-index:9;
}
.message_arrow8
{
	position:absolute;
	top:250px;
	left:-28px;
	width:35px;
	height:45px;
	background:url(images/icon_arrow6.png);
	z-index:9;
}



/*expert edit other*/
.lightbox_box2 {
	position:absolute;
	left:329px;
	top:136px;
	width:608px;
}

.box_user_detail .multiple_user .multiple_box
{
	width:255px;
}
.box_user_detail .multiple_user .multiple_box .multiple_value
{
	width:205px;
}

.view_filearea {
	position:relative;	
	width:580px;
	margin:10px auto 0 auto;
	overflow:hidden;	
}
.view_filearea .filearea_item {
	position:relative;
	float:left;
	width:248px;
	height:200px;
	line-height:200px;
	text-align:center;
	margin:0 10px;
	padding:5px;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
}
.filearea_item img
{
	max-width:248px;
	max-height:200px;
}

.box_expert_edit {
	clear:both;
	margin:0 4px;
	padding:15px;
	overflow:hidden;	
	background:#ffffff;
}
.box_assignment_edit {
	clear:both;
	height:620px;
	margin:0 1px 0 0;
	padding:20px;
	overflow:hidden;	
	background:#ffffff;
}
.edit_container {
	position:relative;
	padding:10px;
}
.view_value 
{
	min-height:200px;
}
.edit_filearea {
	position:relative;	
	width:580px;
	margin:10px auto 0 auto;
	overflow:hidden;	
}
.edit_filearea .filearea_item {
	position:relative;
	float:left;
	width:248px;
	height:200px;
	line-height:200px;
	text-align:center;
	padding:5px;
	border:1px dashed #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.edit_filearea .filearea_item img{
	max-width:248px;
	max-height:200px;
}
.filearea_item_edit
{
	position:absolute;
	top:50px;
	left:25px;
	width:200px;
	line-height:120%;
	text-align:center;
}

/*credentials*/
.client_title,.qualify_title
{
	clear:both;
	overflow:hidden;
	color:#444444;
	font-size:12px;
	font-weight:bold;
}
.client_content
{
	clear:both;
	padding:5px 0;
}
.qualify_content
{
	clear:both;
	padding:5px 0;
}
.client_content p,.qualify_content p
{
	margin:0;
	padding:0;
}

.timeline_arrow
{
	position:absolute;
	width:49px;
	height:26px;
	top:-26px;
	left:110px;
	background:url(images/icon_arrow3.gif);
}

.timeline_edit {
	position:absolute;
	top:200px;
	left:500px;
	width:270px;	
	height:460px;
	padding:10px;
	z-index:10;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.timeline_edit input,.timeline_edit select,.timeline_edit textarea {
	margin:5px;
	width:240px;
}
.timeline_edit textarea {
	height:60px;
}
.timeline_edit .emptycalendar
{
	position:relative;
}
.timeline_edit .emptycalendar span
{
	position:absolute;
	display:block;
	top:15px;
	right:20px;
	text-align:right;
	color:#777777;
	font-size:9px;
	-webkit-text-size-adjust:none;
}

.box_user_wrap
{
	position:relative;
	clear:both;
}
.box_user_button
{
	position:absolute;
	bottom:0px;
	left:150px;
	width:130px;
}
.box_user_button input.bluebtn,.box_user_button input.graybtn
{
	margin:1px 3px;
	padding:1px 5px;
}

.select_box_interview
{
	width:550px;
}

.select_box_interview input.select_value
{
	width:500px;
}
.select_box_interview div.select_option
{
	max-width:550px;
}
.select_box_interview div.select_option li
{
	white-space:normal;
}
.interview_edit
{
	position:relative;
	min-height:530px;
}
.interview_new
{
	position:absolute;
	bottom:10px;
	right:50px;
	width:24px;
	height:24px;
	z-index:9;
}
.interview_line
{
	clear:both;
	overflow:hidden;
	padding-bottom:10px;
	line-height:150%;
}
.interview_line span
{
	color:#111;
}
.interview_line p
{
	margin:5px 0;
	color:#777777;
}
.interview_line img
{
	margin-left:10px;
}
.interview_line table
{
	width:auto;
	border-collapse:collapse;
	border-spacing:0;
}
.interview_line td
{
	padding:3px;
	border:1px solid #888888;
}
.interview_line input
{
	position:relative;
	margin:0;
	padding:2px;
	width:160px;
	color:#777777;
	font-size:14px;
	border:1px solid #bbbbbb;
	background:#ffffff;	
}
.interview_line textarea
{
	position:relative;
	margin:5px 5px 10px 5px;
	padding:5px;
	width:500px;
	height:60px;
	color:#777777;
	font-size:14px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);		
}



/*competencies*/
.competence_wrap {
	position:relative;
	clear:both;
	float:left;
	width:550px;
	margin:0 0 0 15px;
}
.competence_explain
{
	clear:both;
	float:left;
	width:550px;
	margin-top:5px;
}
.explain_line
{
	clear:both;
	float:right;
	width:165px;
}
.explain_title
{
	position:relative;
	float:left;
	width:100px;
	padding:0 5px;
}
.explain_icon1
{
	position:relative;
	float:left;
	width:50px;
	margin:5px 0;
	height:4px;
	border:1px solid #3273b4;
	background:#3273b4;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
}
.explain_icon2
{
	position:relative;
	float:left;
	width:50px;
	margin:5px 0;
	height:4px;
	border:1px dashed #3273b4;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
}
.explain_icon3
{
	position:relative;
	float:left;
	width:50px;
	margin:5px 0;
	height:4px;
	border:1px solid #3273b4;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
}
.timeline_box {
	float:left;
	width:54px;
}
.timeline_title {
	position:relative;
	clear:both;
	height:23px;
	color:#c5c6c8;
	text-align:center;
}
.timeline_icon {
	position:relative;
	clear:both;
	height:12px;
	background:#e6e6e8;
}
.timeline_content {
	position:relative;
	clear:both;
	height:120px;
	background:#ffffff;
	border-right:1px solid #e6e6e8;
}
.box_first .timeline_icon {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	behavior: url(/Styles/PIE.htc);	
}
.box_first .timeline_content {
	border-left:1px solid #e6e6e8;
}
.box_end .timeline_icon {
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	behavior: url(/Styles/PIE.htc);	
}
.box_active .timeline_title {
	color:#777777;	
}
.box_active .timeline_icon {
	background:#c5c6c8;
}
.nonprofit {
	position:absolute;
	top:30px;
	left:0px;
	height:5px;
	border:1px dashed #3273b4;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
	z-index:8;
}
.tralning {
	position:absolute;
	top:60px;
	left:0px;
	height:5px;
	border:1px solid #3273b4;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
	z-index:7;
}
.employment {
	position:absolute;
	top:90px;
	left:0px;
	height:5px;
	border:1px solid #3273b4;
	background:#3273b4;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);
	z-index:6;
}
.timeline_view
{
	display:none;
	position:absolute;
	top:6px;
	left:0;
	width:280px;
	padding:25px 0 0 0;
	z-index:100000;	
}
.timeline_view .timeline_arrow2
{
	position:absolute;
	width:49px;
	height:26px;
	top:0;
	left:115px;
	background:url(images/icon_arrow3.gif);
	z-index:10;
}
.timeline_view .timeline_info {
	position:relative;
	padding:10px;
	border:1px solid #888888;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}

.timeline_view_up
{
	top:auto;
	bottom:8px;
	left:0;
	width:280px;
	padding:0 0 25px 0;
}
.timeline_view_up .timeline_arrow2
{
	top:auto;
	bottom:0;
	left:115px;
	background:url(images/icon_arrow4.gif);
	z-index:10;
}
.timeline_view_up .timeline_info {
	position:relative;
	padding:10px;
	border:1px solid #888888;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}

.timeline_black
{
	padding:10px 0 0 0;
	color:#333333;
}
.timeline_gray 
{
	color:#777777;
}

/*recommendation*/
.r_map
{
	position:relative;
	float:left;
	width:330px;
}
.r_invite1
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:96px;
	overflow:hidden;
	background:url(images/invite_line1.gif) center center no-repeat;
}
.r_invite2
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:150px;
	overflow:hidden;
	background:url(images/invite_line2.gif) center center no-repeat;
}
.r_invite3
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:203px;
	overflow:hidden;
	background:url(images/invite_line3.gif) center center no-repeat;
}
.r_invite4
{
	position:absolute;
	width:18px;
	height:18px;
	top:182px;
	left:98px;
	overflow:hidden;
	background:url(images/invite_line4.gif) center center no-repeat;
}
.r_invite5
{
	position:absolute;
	width:18px;
	height:18px;
	top:182px;
	left:205px;
	overflow:hidden;
	background:url(images/invite_line4.gif) center center no-repeat;
}
.r_invite6
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:96px;
	overflow:hidden;
	background:url(images/invite_line3.gif) center center no-repeat;
}
.r_invite7
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:150px;
	overflow:hidden;
	background:url(images/invite_line2.gif) center center no-repeat;
}
.r_invite8
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:203px;
	overflow:hidden;
	background:url(images/invite_line1.gif) center center no-repeat;
}
.r_invite_edit1
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:96px;
	overflow:hidden;
}
.r_invite_edit2
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:150px;
	overflow:hidden;
}
.r_invite_edit3
{
	position:absolute;
	width:24px;
	height:24px;
	top:115px;
	left:203px;
	overflow:hidden;
}
.r_invite_edit4
{
	position:absolute;
	width:18px;
	height:18px;
	top:182px;
	left:98px;
	overflow:hidden;
}
.r_invite_edit5
{
	position:absolute;
	width:18px;
	height:18px;
	top:182px;
	left:205px;
	overflow:hidden;
}
.r_invite_edit6
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:96px;
	overflow:hidden;
}
.r_invite_edit7
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:150px;
	overflow:hidden;
}
.r_invite_edit8
{
	position:absolute;
	width:24px;
	height:24px;
	top:243px;
	left:203px;
	overflow:hidden;
}
.r_user_box
{
	position:relative;
	float:left;
	width:75px;
	height:85px;
	line-height:85px;
	text-align:center;
	margin:15px 10px;
	padding:5px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #8a8a8a 0 0 4px;
	-moz-box-shadow: #8a8a8a 0 0 4px;
	box-shadow: #8a8a8a 0 0 4px;			
	behavior: url(/Styles/PIE.htc);
}
.r_invite_edit1 img,.r_invite_edit2 img,.r_invite_edit3 img,.r_invite_edit6 img,.r_invite_edit7 img,.r_invite_edit8 img
{
	max-width:24px;
	max-height:24px;
}
.r_invite_edit4 img,.r_invite_edit5 img
{
	max-width:18px;
	max-height:18px;
}
.r_user_box img
{
	max-width:75px;
	max-height:85px;
}
.r_user_box a
{
	color:#333333;
	text-decoration:none;
}
.r_user_none
{
	position:relative;
	float:left;
	width:75px;
	height:85px;
	margin:15px 10px;
	padding:5px;
	border:1px solid #bbbbbb;
	background:#ffffff url(images/user_gray2.gif) center center no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #8a8a8a 0 0 4px;
	-moz-box-shadow: #8a8a8a 0 0 4px;
	box-shadow: #8a8a8a 0 0 4px;			
	behavior: url(/Styles/PIE.htc);
}
.r_user_name
{
	position:absolute;
	width:75px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	top:70px;
	left:5px;
	background:url(images/black70.png);
	text-align:center;
	color:#dddddd;
}
.r_user_name a
{
	font-size:12px;
	color:#dddddd;
	text-decoration:none;
}
.r_user_invite
{
	position:absolute;
	width:75px;
	height:85px;
	line-height:85px;
	cursor:pointer;
	overflow:hidden;
	top:5px;
	left:5px;
	text-align:center;
	color:#ffffff;
	font-size:15px;
}
.r_user_invite a
{
	color:#ffffff;
	font-size:24px;
	text-decoration:none;
}
.r_info
{
	position:relative;
	float:right;
	width:230px;
	padding-left:8px;
	border-left:1px dashed #888;
	min-height:520px;
}
.r_info_mask
{
	position:absolute;
	top:0;
	left:5px;
	width:243px;
	height:100%;
	background:url(images/gray30.png);
	z-index:9;
	font-size:17px;
	line-height:80px;
	font-weight:bold;
	text-align:center;
	color:#333;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior: url(/Styles/PIE.htc);
}
.r_info_name
{
	clear:both;
	overflow:hidden;
	font-size:18px;
	padding:10px 0;
}
.r_info_name a
{
	color:#333333;
	text-decoration:none;
}
.r_info_name a:hover
{
	text-decoration:underline;
}
.r_info_myname
{
	clear:both;
	overflow:hidden;
	font-size:15px;
	padding:10px 0;
}
.r_info_item
{
	clear:both;
	overflow:hidden;
	margin-top:10px;
	color:#444444;
	font-weight:bold;
}
.r_info_content
{
	clear:both;
	overflow:hidden;
	margin-top:5px;
	color:#777777;
}

.map_note
{
	position:absolute;
	background:url(images/gray30.png);
	width:316px;
	height:355px;
	padding:10px;
	top:3px;
	left:-9px;
	z-index:9;
	font-size:14px;
	line-height:180%;
	font-weight:bold;
	color:#333;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior: url(/Styles/PIE.htc);
}

div.lightboxinvite
{
	position:absolute;
	top:150px;
	left:60px;
	width:260px;
	height:400px;
	display:none;
}
.invite_wrap
{
	position:relative;
	width:230px;
	height:360px;
	padding:15px;
	background:#ffffff;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.invite_wrap .atfoot
{
	position:absolute;
	width:260px;
	padding:10px 20px;
	height:20px;
	bottom:5px;
	left:0;
	text-align:center;
}
.invite_wrap .atfoot a
{
	color:#0000cc;
	text-decoration:none;
}

.invite_line
{
	clear:both;
	overflow:hidden;
	padding:5px 0;
}
.area_invite
{
	width:210px;
	height:200px;
	padding:3px 8px;
	border:1px solid #bbbbbb;
	color:#777777;
	font-size:12px;
}
.text_invite
{
	width:210px;
	padding:3px 8px;
	border:1px solid #bbbbbb;
	color:#777777;
}

/*top 6 competence*/
.competence_top6
{
	position:relative;
	clear:both;
	width:320px;
}
.headline_top6
{
	clear:both;
	padding:0 0 5px 0;
	border-bottom:1px dashed #888888;
	overflow:hidden;
}
.competence_top6 .value_item_active
{
	margin:1px 2px;
	padding:1px 5px;
}
.edit_top6
{
	position:absolute;
	top:-1px;
	right:5px;
	font-size:14px;
}
.edit_top6 a
{
	text-decoration:none;
}
.edit_top6 a:hover
{
	text-decoration:underline;
}
.content_top6
{
	clear:both;
	padding:5px;
	overflow:hidden;
}
.competence_arrow
{
	position:absolute;
	width:49px;
	height:26px;
	bottom:-26px;
	left:135px;
	background:url(images/icon_arrow4.gif);
}
.competence_editor
{
	position:absolute;
	top:260px;
	left:270px;
	width:370px;	
	height:270px;
	padding:10px 5px;
	z-index:10;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.competence_leader_editor
{
	position:absolute;
	top:40px;
	left:270px;
	width:370px;	
	height:270px;
	padding:10px 5px;
	z-index:10;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
	z-index:9;
}
.competence_editor th
{
	padding:0px 15px 10px 15px;
	text-align:left;
	font-size:14px;
	border-bottom:1px dashed #aaaaaa;
}
.competence_editor td
{
	padding:5px 15px 1px 15px;
}
.competence_editor input
{
	width:270px;	
}
.addCompetency
{
	clear:both;
	margin-top:8px;
	width:580px;
}

/*expert assignment*/

.txt_assignment
{
	width:290px;
}
.area_assignment
{
	width:290px;
	height:120px;
}

/*dashboard message*/

.message_info
{
	margin-top:40px;
	border-top:1px dashed #cccccc;
	height:598px;
	overflow:auto;
}
.message_unread
{
	font-weight:bold;
}
.message_active
{
	background:#a7cdf0;
}
.message_line
{
	clear:both;
	overflow:hidden;
	padding:10px;
	border-bottom:1px dashed #cccccc;
}
.message_usericon
{
	position:relative;
	float:left;
	margin:0 10px 0 0;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #8a8a8a 0 0 4px;
	-moz-box-shadow: #8a8a8a 0 0 4px;
	box-shadow: #8a8a8a 0 0 4px;			
	behavior: url(/Styles/PIE.htc);
}
.message_usericon img
{
	max-width:40px;
	max-height:40px;
	border:none;
}
.message_userinfo
{
	float:left;
	width:108px;
}
.message_action
{
	float:left;
	width:210px;
}
.message_action table,.message_action2 table,.message_userinfo table {
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
}
.message_action td,.message_action2 td,.message_userinfo td {
	vertical-align:top;
	padding:1px 0;
	border-bottom-width:0;
	overflow:hidden;
}

.message_action a.hyplink,.message_action2 a.hyplink,.message_userinfo a.hyplink
{
	color:#333333;
	text-decoration:none;
}
.message_action a,.message_action2 a,.message_userinfo a
{
	color:#0000cc;
	text-decoration:none;
}
.message_action a:hover,.message_action2 a:hover,.message_userinfo a:hover
{
	text-decoration:underline;
}
.message_content
{
	height:600px;
	overflow:auto;
	margin:10px 0;
	padding:10px;
}
.message_content table.message_detail{
	width:100%;
	border-collapse:collapse;
}
.message_content table.message_detail td
{
	padding:5px 7px;
}
.message_content td.message_title
{
	font-size:16px;
	font-weight:bold;
}
 .message_content td.message_from
{
	border-bottom:2px solid #bbbbbb;
}
 .message_content td.message_from a
 {
 	color:#333333;
 	text-decoration:none;
 }
 .message_content td.message_from a:hover
 {
 	color:#0000cc;
 	text-decoration:underline;
 }
.message_content td.message_date
{
	border-bottom:2px solid #bbbbbb;
	text-align:right;
}
.message_content table.message_detail td.message_description
{
	padding:20px 10px;
}
.message_content .box_form
{
	padding:0;
}
table.tbeditor
{
	border-collapse:collapse;
	width:100%;
	margin-top:20px;	
}
table.tbeditor th
{
	text-align:left;
	padding:10px;
	border-bottom:2px solid #888888;
}
table.tbeditor td
{
	text-align:left;
	padding:10px;
	border-bottom:1px dashed #bbbbbb;
}
table td.tdsubmit
{
	border-bottom-width:0;
}
.box_insight
{
	padding:15px;
}
.box_insight h2
{
	margin:0;
	padding:3px 0 ;	
	overflow:hidden;
}
.box_insight h2 a
{
	position:relative;
	display:block;
	float:right;
	margin:2px 3px;
	padding:3px 30px;
	background:#6480d0;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
.box_insight table
{
	border-collapse:collapse;
	width:98%;
}
.box_insight td
{
	padding:8px 5px;
	border-bottom:1px dashed #ddd;
}
.box_insight th
{
	padding:8px 5px;
	border-bottom:2px solid #aaa;
}
.box_insight th.th_action
{
	width:100px;
}
.box_insight td a
{
	color:#333;
	text-decoration:none;
}
.box_insight td a:hover
{
	color:#333;
	text-decoration:underline;
}
div.insight_message
{
	float:left;
}
div.insightinfo_box
{
	float:right;
	position:relative;
	line-height:15px;
}
div.insightinfo_box img
{
	margin:-5px 3px -3px 0;
}
div.insightinfo_box div
{
	display:none;
	position:absolute;
	top:-65px;
	left:30px;
	width:265px;
	height:130px;
	padding:10px 10px 10px 25px;
	z-index:9;
	background:url(images/box3.gif) no-repeat center center;
}
div.insightinfo_box ul
{
	margin:5px 0 0 20px;
	list-style-type:circle;
}
div.insightinfo_box li
{
	border-width:0;
	clear:none;
	display:list-item;
	padding:5px 0;
	background-color:#f6f6f6;
}