﻿/*public*/
.line_q
{
	margin:5px 0;
	padding:5px 0 5px 20px;
	font-weight:bold;
	background:url(images/icon_dot.gif) left 11px no-repeat;
	font-size:13px;
}
.line_q a
{
	color:#333;
	text-decoration:none;
}
.line_q a:hover
{
	text-decoration:underline;
}
.line_a
{
	display:none;
	padding:5px 0 5px 20px;
	color:#555;
}
a.hpyblank
{
	color:#333333;
}
.line_q2
{
	position:relative;
	clear:both;
	overflow:hidden;
	padding:5px 0 5px 20px;
	background:url(images/icon_dot.gif) left 11px no-repeat;
}

.line_q2 a
{
	color:#333333;
	text-decoration:none;
}
.line_q2 a:hover
{
	text-decoration:underline;
}
.line_q2 p
{
	margin:0;
	padding:0;
}

/*boxer*/
.glo_boxer
{
	position:relative;
	width:800px;
	min-height:370px;
	margin:0 auto;
	padding:10px;
	
	background:#ffffff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;
	-moz-box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;
	box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;			
	behavior: url(/Styles/PIE.htc);
}
.glo_boxer .boxer_concept
{ 
	padding:10px 20px;
	font-size:32px;
	font-family: "Jenna Sue",cursive;
	font-weight:bold;
	text-align:left;
	overflow:hidden;
}
.glo_boxer .boxer_headline
{ 
	padding:10px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
}
.glo_boxer .boxer_content
{
	position:relative;
	padding:20px;
	overflow:hidden;
}
.glo_boxer .boxer_agree {
	clear:both;
	overflow:hidden;
	padding:0 30px 25px 0;
	text-align:right;	
}
.glo_boxer .boxer_agree2 {
	clear:both;
	overflow:hidden;
	padding:0 0 25px 0;
	text-align:center;	
}
.glo_boxer .boxer_agree img,.glo_boxer .boxer_agree2 img {
	margin-left:5px;
	border:none;
}
.glo_boxer .boxer_agree a,.glo_boxer .boxer_agree2 a 
{
	color:#333333;
}
.glo_boxer div.hpylink_bluebtn
{
	position:relative;
	clear:both;
	float:right;
	margin-top:10px;
	font-size:12px;
	background:#204a7d;
	padding:13px 30px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);	
}
.glo_boxer div.hpylink_bluebtn a
{
	font-weight:bold;
	color:#ffffff;
	text-decoration:none
}

/*foot*/
.glo_footer {
	clear:both;
	padding:10px 50px;
	text-align:right;
	font-size:11px;
	color:#555555;
}


/*faq*/
.faq_image
{
	float:right;
}
textarea.textarea_faq
{
	width:715px;
	height:90px;
}

/*company reg*/
table.tbcompany
{
	border-collapse:collapse;
	width:98%;
	margin-top:20px;
}
table.tbcompany td
{
	padding:6px 10px;
	vertical-align:top;
	text-align:center;
}
table.tbcompany td div.boxtext
{
	border:1px solid #888888;
	padding:5px;
}
div.membership_user
{
	margin:9px 10px;
	padding:10px 20px;
	float:left;
	width:760px;
	background:#666666;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
}
table.tbcompany2
{
	border-collapse:collapse;
	width:98%;
}
table.tbcompany2 td
{
	padding:5px 10px;
	vertical-align:top;
}
table.tbcompany2 td.other
{
	font-size:18px;
	font-weight:bold;
	text-align:left;
}
table.tbcompany2 td.package
{
	font-size:20px;
	font-weight:bold;
	text-align:left;
	padding-left:30px;
}
table.tbcompany2 td div.boxtext
{
	border:1px solid #888888;
	padding:5px;
}
table.tbcompany2 td div.greytext
{
	float:left;
	padding:10px;
	background:#cccccc;
	font-weight:bold;
}
table.tbcompany2 ul
{
	margin:5px 0;
}

/*success*/
.success_boxer
{
	position:relative;
	min-height:440px;
	background:#ffffff;
	border: 1px solid #bababa;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 10px inset;
	-moz-box-shadow: #8a8a8a 0 0 10px inset;
	box-shadow: #8a8a8a 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
.success_line
{
	clear:both;
	overflow:hidden;
	padding:10px;
}
.success_desc
{
	clear:both;
	overflow:hidden;
	padding:5px 15px 10px 20px;
	color:#777777;
	font-family:Helvetica;
	line-height:150%;
}
.success_left
{
	float:left;
	width:105px;
	margin:5px 0 0 5px;
}
.success_right
{
	float:right;
	width:180px;
	margin:5px 5px 0 0;
	color:#2c6dcf;
	font-size:26px;
	line-height:110%;
	font-family:"Jenna Sue", cursive;
}
.success_usericon
{	
	position:relative;
	clear:both;
	overflow:hidden;
	width:60px;
	height:75px;
	line-height:75px;
	text-align:center;
	margin:6px;
	padding:5px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;
	behavior: url(/Styles/PIE.htc);	
}
.success_usericon img {		
	max-width:60px;
	max-height:75px;
}
.success_username
{	
	clear:both;
	padding:5px 0 0 0;
	color:#333333;
	font-weight:bold;
}
.success_usertitle
{	
	clear:both;
	font-weight:bold;
	color:#2c6dcf;
}
.r_info_item
{
	clear:both;
	overflow:hidden;
	margin-top:20px;
	color:#444444;
	font-weight:bold;
}
.r_info_myname
{
	font-size:16px;
	font-weight:bold;
}
.r_info_content
{
	clear:both;
	overflow:hidden;
	margin-top:5px;
	color:#777777;
}
.success_summary
{
	position:relative;
	width:260px;
	height:80px;
	padding:5px 10px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	text-align:center;
	color:#2c6dcf;
	font-size:26px;
	line-height:110%;
	font-family:"Jenna Sue", cursive;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.success_difference
{
	width:260px;
	height:205px;
	padding:5px 10px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	color:#777777;
	font-size:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}

/*login*/
.login_wrap
{
	position:relative;
	width:500px;
	margin:0 auto;
	padding:15px 10px;
}
.login_wrap td
{
	padding:6px 5px;
}
.login_wrap td.head
{
	border-bottom:1px dashed #bbbbbb;
}
.login_wrap td.title
{
	width:100px;
	padding-top:10px;
	vertical-align:top;
}
.login_wrap input[type="text"],.login_wrap input[type="password"]
{
	position:relative;
	width:260px;
	height:18px;
	padding:4px 5px;
	color:#333333;
	background:#dfdfdf;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	behavior: url(/Styles/PIE.htc);	
}

/*statistic*/
.statistic_list
{
	float:left;
	width:253px;
}
.statistic_list h2
{
	font-size:15px;
	text-align:center;
	margin: 5px 0;
}

/*in the news*/
.news_fields
{
	position:relative;
	float:left;
	width:243px;
	margin:0 5px;
}
.news_fields span.blue
{
	color:#2C6DCF;
}
.news_fields h2
{
	clear:both;
	text-align:center;
	font-size:18px;
	margin:0;
	padding:8px 0;
}
.news_fields .news_image
{
	text-align:center;
	height:110px;
	line-height:110px;
}
.news_fields .news_more
{
	clear:both;
	text-align:right;
	padding:10px;
}
.news_fields .events_box
{
	clear:both;
	padding:0 0 5px 0;	
	overflow:hidden;
}
.news_fields .events_item
{
	position:relative;
	float:left;
	width:95px;
	height:95px;
	text-align:center;
	margin:6px;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.news_fields .events_image
{
	width:95px;
	height:80px;
	line-height:80px;
	text-align:center;	
}
.news_fields .events_item img
{
	max-width:95px;
	max-height:80px;
}
.news_fields .events_name
{
	clear:both;
	height:12px;
	overflow:hidden;
	padding-top:3px;
	text-align:center;
	font-size:10px;
	-webkit-text-size-adjust:none;
}
.news_fields a
{
	color:#333333;
	text-decoration:none;
}
.news_back a
{
	color:#0000cc;
	text-decoration:underline;
}
.news_fields a:hover,.news_back a:hover
{
	color:#0000cc;
	text-decoration:underline;
}
.news_wrap
{
	clear:both;
	padding:10px 0;	
}
.news_wrap a.file
{
	font-size:14px;
	color:#333333;
	text-decoration:none;
}
.news_wrap a.file:hover
{
	color:#0000cc;
	text-decoration:underline;
}
.news_wrap table
{
	border-collapse:collapse;
	width:auto;
}
.news_wrap td
{
	margin:0;
	padding:2px 5px;
}
.news_wrap a.email
{
	position:relative;
	display:block;
	margin:0;
	width:45px;
	text-align:center;
	padding:2px 12px;
	background:#5e5f61;
	font-size:14px;
	text-decoration:none;
	color:#ffffff;
	border:1px solid #73746;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: #666768 0 0 10px inset;
	-moz-box-shadow: #666768 0 0 10px inset;
	box-shadow: #666768 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.news_item
{
	clear:both;
	overflow:hidden;
	padding:1px 0 10px 20px;
	background:url(images/icon_dot.gif) left 6px no-repeat;
}
.news_back
{
	margin:10px 10px 0 0;
	text-align:right;
}
.news_date
{
	float:right;
	font-weight:normal;
}
.news_content
{
	clear:both;
	min-height:260px;
}

/*feedback*/
.feedback_list
{
	clear:both;
	overflow:hidden;
	padding:5px 0 15px 0;
}
.feedback_below
{
	clear:both;
	overflow:hidden;
	padding:15px 0 5px 0;
}
.feedback_form
{
	clear:both;
	overflow:hidden;
	padding:5px 0;
}
.feedback_form table
{
	width:auto;
}
input.txt_feedback_name
{
	width:200px;
	height:18px;
	margin:5px 2px;
	border:1px solid #A4B5EE;
}
input.txt_feedback_email
{
	width:330px;
	margin:5px 2px;
	border:1px solid #A4B5EE;
}
input.txt_feedback_subject
{
	width:460px;
	margin:5px 2px;
	border:1px solid #A4B5EE;
}
textarea.area_feedback_content
{
	width:600px;
	height:120px;
	margin:5px 2px;
	border:1px solid #A4B5EE;
}

/*Partners*/
.partner_line
{
	clear:both;
	overflow:hidden;
}
.partner_line .partner_tool,.partner_line .partner_desc
{
	position:relative;
	float:left;
	margin:3px 5px;
	padding:5px 7px;
	overflow:hidden;
	background:#ffffff;
	border:1px solid #A4B5EE;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/Styles/PIE.htc);	
}
.partner_line .partner_logo
{
	position:relative;
	float:left;
	margin:3px 5px;
	padding:5px 7px;
	overflow:hidden;
	background:#ffffff;
	width:90px;
	height:70px;
	line-height:70px;
	text-align:center;
}
.partner_line .partner_logo img
{
	max-width:90px;
	max-height:70px;
}
.partner_line .partner_tool,.partner_line .partner_desc
{
	color:#777777;
	width:280px;
	height:80px;
}
.partner_line .partner_tool
{
	text-align:center;
	line-height:80px;
}

/*contact us*/
 input.txt_contact {
	width:500px;
	margin:5px 2px;
}
textarea.area_contact 
{
	width:500px;
	height:160px;
	margin:5px 2px;
}


/*register*/
.boxer_content .content_list
{
	float:left;
	width:223px;
	margin:0 15px;
}
.content_list .list_item {
	position:relative;
	clear:both;
	height:270px;
	padding:10px 8px;
	overflow:hidden;
	background:#ffffff;
	border: 1px solid #cccccc;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #8a8a8a 0 0 8px;
	-moz-box-shadow: #8a8a8a 0 0 8px;
	box-shadow: #8a8a8a 0 0 8px;	
	behavior: url(/Styles/PIE.htc);
}
.list_item .item_title {
	clear:both;
	overflow:hidden;
	font-size:16px;
	text-align:center;
	padding:5px 0;
}
.list_item .item_user {
	position:relative;
	float:left;
	width:84px;
	height:112px;
	overflow:hidden;
	margin:8px 8px 0 8px;
}
.item_user .user_icon {
	position:relative;
	clear:both;
	overflow:hidden;
	width:62px;
	height:62px;
	line-height:62px;
	text-align:center;
	padding:5px;
	margin:5px;
	background:#ffffff;
	border: 1px solid #bbbbbb;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;
	behavior: url(/Styles/PIE.htc);	
}
.item_user .user_icon img {		
	max-width:62px;
	max-height:62px;
}
.item_user .user_name
{
	clear:both;
	overflow:hidden;
	font-size:10px;
	text-align:center;
	-webkit-text-size-adjust:none;
}
.item_user .user_name a
{
	color:#333333;
	text-decoration:none;
}
.content_list .list_link {
	clear:both;
	padding:30px 0 0 0;
	text-align:center;
}
.content_list .list_link a {
	color:#0000cc;
	font-size:15px;
	text-decoration:none;
}
.boxer_content .contact_us {
	clear:both;
	overflow:hidden;
	padding:25px 0 0 0;
	color:#777777;
	font-size:15px;
	text-align:center;	
}
.content_list .list_view {
	clear:both;
	padding:10px 0 0 0;
	text-align:center;
}
.content_list .list_view a {
	color:#555555;
	font-size:15px;
	text-decoration:none;
}

/*register company/expert*/
.register_user {
	position:relative;
	width:550px;
	margin:20px auto;
}
.register_user td
{
	padding:2px 6px;
}
input.txtbox1
{
	width:230px;
	color:#333;
}
input.txtbox2
{
	width:30px;
	color:#333;
}
input.txtbox3
{
	width:58px;
	color:#333;
}
input.txtbox4
{
	width:118px;
	color:#333;
}

/*leader register*/
.register_leader
{
	clear:both;
	overflow:hidden;
	margin:10px 0;
}
.register_join
{
	float:left;
	padding:5px 50px;
	background:#777;
	color:#ffffff;
	font-weight:bold;
}
.register_left 
{
	position:relative;
	float:left;
	width:420px;
	margin:10px 0 0 0;
}
.register_left td
{
	padding:1px 0;
	position:relative;
}
td.toptext
{
	vertical-align:top;
	padding-top:10px;
}
.register_left td.toptext
{
	vertical-align:top;
	padding-top:6px;
}
.register_right
{
	position:relative;
	float:right;
	width:365px;
	margin:10px 0 00;
}
.register_right ul
{
	margin:8px 0 0 0;
	padding:0;
	list-style:none;
}
.register_right ul li
{
	margin:0;
	padding:4px 0 4px 20px;	
	background:url("images/icon_dot.gif") left 10px no-repeat;
}
input.txtbox6
{
	width:100px;
	color:#333;
}


/*policy*/
.lightbox_register {
	position:relative;
	width:800px;
	height:500px;
	margin:180px auto 0 auto;
	padding:30px 25px 20px 25px;
	background:#ffffff;
	-webkit-border-radius:8px 8px 12px 12px;
	-moz-border-radius:8px 8px 12px 12px;
	border-radius:8px 8px 12px 12px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_register .policy_boxer {
	position:relative;
	width:800px;
	height:500px;
	overflow:auto;
}
.policy_boxer ul li
{
	padding:2px 5px;
}

/*header search*/
.lightbox_message
{
	position:absolute;
	left:210px;
	top:200px;
	width:550px;
	min-height:300px;
	padding:20px;
	background:#ffffff;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	behavior: url(/Styles/PIE.htc);
}
.lightbox_message ul
{
	margin:0;
}
.lightbox_message li
{
	word-wrap:break-word;
}
.lightbox_message .message_headline
{
	font-size:18px;
	font-weight:bold;
	padding:0 0 20px 0;
}
.message_center
{
	text-align:center;
}
.message_center a
{
	color:#0000cc;
	text-decoration:none;
}
.lightbox_message h2
{
	clear:both;
	font-size:15px;
	margin:0;
	padding:2px 0 8px 0;
	border-bottom:1px dashed #888;
	margin-bottom:10px;
}
.lightbox_message div.greytext
{
	float:left;
	margin-left:5px;
	padding:5px 10px;
	background:#cccccc;
	font-weight:bold;
}
.lightbox_message table
{
	border-collapse:collapse;
	width:100%;
}
.lightbox_message td
{
	padding:5px 10px;
}
.lightbox_message td .user_value_add
{
	padding-top:0;
}
.lightbox_message input.title
{	
	position:relative;
	margin:5px;
	width:375px;
	height:18px;
	padding:3px 5px;
	color:#777777;
	border:1px solid #bbbbbb;
	background:#ffffff;
	font-size:12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);		
}
.lightbox_message textarea.content
{	
	position:relative;
	margin:5px;
	width:375px;
	height:120px;
	padding:3px 5px;
	color:#777777;
	border:1px solid #bbbbbb;
	background:#ffffff;
	font-size:12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);		
}
.search_wrapper
{
	position:relative;
	width:890px;
	background:#ffffff;
	margin:0 auto;
	z-index:1000;
}
.search_header2
{
	clear:both;
	height:41px;
	overflow:hidden;
	background:#ffffff url(images/nav_search2.gif) left top no-repeat;
}
.search_boxer2
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	min-height:500px;
	height:auto;
	background:#ffffff url(images/search_body2.gif) left top repeat-y;
}
.search_footer2
{
	position:relative;
	clear:both;
	height:10px;
	line-height:10px;
	overflow:hidden;
	background:#ffffff url(images/search_foot.gif) left top no-repeat;
}

.headsearch
{
	float:left;
	width:276px;
	padding:0 10px;
}
.headsearch h2
{
	font-size:15px;
	font-weight:bold;
	text-align:center;
}

table.search_item td {
	padding:5px 4px;
}
table.search_item
{
	width:100%;	
	border-collapse:collapse;
}

table.search_item td input.keyword 
{
	position:relative;
	width:180px;
	height:18px;
	padding:3px 10px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.result_title 
{
	clear:both;
	padding:10px 0 5px 0;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	border-bottom:1px solid #b1b2b4;
	border-left-width:0;
	border-right-width:0;
}
.result_container
{
	clear:both;
	overflow:hidden;
}
.result_container table.result {
	width:100%;	
	border-collapse:collapse;
}
.result_container .message_usericon
{
	margin-left:0px;
}
table.result td {
	padding:5px 10px;
	background:#e6e7e9;
	border-bottom:1px solid #b1b2b4;
	border-left:1px solid #b1b2b4;
	border-right:1px solid #b1b2b4;
}
table.result td a 
{
	color:#333333;
}

.message_line
{
	clear:both;
	overflow:hidden;
	padding:10px 0;
	border-bottom:1px dashed #cccccc;
}
.message_usericon
{
	position:relative;
	float:left;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:0;
	padding:5px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: #8a8a8a 0 0 4px;
	-moz-box-shadow: #8a8a8a 0 0 4px;
	box-shadow: #8a8a8a 0 0 4px;			
	behavior: url(/Styles/PIE.htc);
}
.message_usericon img
{
	max-width:40px;
	max-height:40px;
	border:none;
}
.message_action
{
	float:left;
	margin:0 0 0 8px;
	width:215px;
}
.message_action input.graybtn,.message_action input.bluebtn,.message_action2 input.graybtn,.message_action2 input.bluebtn
{
	margin:1px;
	padding:2px 3px;
	font-size:10px;
}
.displayright
{
	clear:both;
	overflow:hidden;
	margin:50px 10px 0 10px;
	text-align:right;
}
.graypaayment
{
	float:left;
	min-width:150px;
	padding:5px 25px;
	font-weight:bold;
	background:#cccccc;
	text-align:center;
} 
.box_login     
{
	position:relative; 
	clear:both;
	margin:50px 50px 0 50px;
	padding:10px 0;
	text-align:right;
}
.box_login input
{
	color:#333333;
	border:1px solid #bbbbbb;
	background:#dddddd;
}
.box_login span.err
{
	margin:0 10px;
	color:Red;
}

/*success*/


/**/
.r_map
{
	position:relative;
	float:left;
	width:425px;
}
.r_invite1
{
	position:absolute;
	width:24px;
	height:24px;
	top:136px;
	left:126px;
	background:url(images/invite_line1.gif) center center no-repeat;
}
.r_invite2
{
	position:absolute;
	width:24px;
	height:24px;
	top:136px;
	left:195px;
	background:url(images/invite_line2.gif) center center no-repeat;
}
.r_invite3
{
	position:absolute;
	width:24px;
	height:24px;
	top:136px;
	left:263px;
	background:url(images/invite_line3.gif) center center no-repeat;
}
.r_invite4
{
	position:absolute;
	width:18px;
	height:18px;
	top:214px;
	left:129px;
	background:url(images/invite_line4.gif) center center no-repeat;
}
.r_invite5
{
	position:absolute;
	width:18px;
	height:18px;
	top:214px;
	left:267px;
	background:url(images/invite_line4.gif) center center no-repeat;
}
.r_invite6
{
	position:absolute;
	width:24px;
	height:24px;
	top:285px;
	left:126px;
	background:url(images/invite_line3.gif) center center no-repeat;
}
.r_invite7
{
	position:absolute;
	width:24px;
	height:24px;
	top:285px;
	left:195px;
	background:url(images/invite_line2.gif) center center no-repeat;
}
.r_invite8
{
	position:absolute;
	width:24px;
	height:24px;
	top:285px;
	left:263px;
	background:url(images/invite_line1.gif) center center no-repeat;
}
.r_user_box
{
	position:relative;
	float:left;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	margin:15px 10px;
	padding:8px;
	border:1px solid #bbbbbb;
	background:#ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.r_user_box img
{
	max-width:100px;
	max-height:100px;
}
.r_user_box a
{
	font-size:12px;
	color:#333333;
	text-decoration:none;
}
.r_user_none
{
	position:relative;
	float:left;
	width:100px;
	height:100px;
	margin:15px 10px;
	padding:8px;
	border:1px solid #bbbbbb;
	background:#ffffff url(images/user_gray.gif) center center no-repeat;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #8a8a8a 0 0 5px;
	-moz-box-shadow: #8a8a8a 0 0 5px;
	box-shadow: #8a8a8a 0 0 5px;			
	behavior: url(/Styles/PIE.htc);
}
.r_user_name
{
	position:absolute;
	width:100px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	top:90px;
	left:8px;
	background:url(images/black70.png);
	text-align:center;
	color:#dddddd;
}
.r_user_name a
{
	font-size:12px;
	color:#dddddd;
	text-decoration:none;
}
.r_info
{
	position:relative;
	float:right;
	width:320px;
}

.font18
{
	font-size:18px;
}

/*assurance*/
.assurance_wrap
{
	overflow:hidden;
	padding:20px 5px;
}
.assurance_title
{
	clear:both;
	margin:0 auto;
	text-align:center;
}
.assurance_content
{
	clear:both;
	margin-top:30px;
	overflow:hidden;
}
.assurance_left
{
	float:left;
	width:160px;
}
.assurance_right
{
	margin-left:160px;
}
.assurance_item1
{
	float:left;
	width:200px;
	padding:0 5px;
	height:180px;
}
.assurance_item2
{
	float:left;
	width:140px;
	height:180px;
	padding:0 5px;
}
.assurance_item3
{
	float:left;
	width:170px;
	height:180px;
	padding:0 5px;
}
.assurance_line
{
	text-align:center;
	padding:5px 0;
	color:#777777;
}
.assurance_line b
{
	color:#333333;
}
/*solution*/
.solution_boxer
{
	position:relative;
	width:820px;
	min-height:370px;
	margin:0 auto;
	padding:0;
	
	background:#ffffff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;
	-moz-box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;
	box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;			
	behavior: url(/Styles/PIE.htc);
}
.solution_head
{
	clear:both;
	height:75px;
	overflow:hidden;
}
.solution_active1
{
	background:url(images/solution_nav1.gif) no-repeat right top;
}
.solution_active2
{
	background:url(images/solution_nav2.gif) no-repeat left top;
}
.solution_nav
{
	float:left;
	width:410px;
	padding:10px 0;
	text-align:center;
}
.solution_nav a
{
	font-size:18px;
	color:#555555;
	text-decoration:none;
}
.solution_nav a.active
{
	font-size:18px;
	font-weight:bold;
	color:#2c6dcf;
}
.solution_content
{
	clear:both;
	padding:5px;
	overflow:hidden;
}
.solution_column
{
	float:left;
	width:400px;
	padding:5px;
}
.solution_column2
{
	float:left;
	width:385px;
	padding:5px;
}
.solution_leader_head
{
	clear:both;
	overflow:hidden;
	padding:10px 0;
	text-align:center;
	color:#2c6dcf;
	font-size:32px;
	line-height:110%;
	font-family:"Jenna Sue", cursive;
}
.solution_leader_note
{
	clear:both;
	overflow:hidden;
	padding:20px 0 25px 0;
	text-align:center;
}
.solution_column table
{
	width:100%;
	border-collapse:collapse;
}
.solution_column td
{
	text-align:center;
	padding:6px 2px;
	color:#777777;
	vertical-align:top;
}
.solution_column td b
{
	color:#333333;
}
.solution_line
{
	clear:both;
	overflow:hidden;
	padding:8px;
	color:#777777;
	line-height:140%;
}
.solution_line2
{
	clear:both;
	overflow:hidden;
	padding:8px 0 8px 20px;
	color:#777777;
	line-height:140%;
	background:url(images/icon_dot.gif) left 13px no-repeat;
}
.solution_line2 b
{
	color:#333333;
}
.boxer_recommendatioon
{
	width:470px;
	margin:20px auto;
}
.value_item {
	position:relative;
	float:left;
	margin:2px 3px;
	padding:2px 8px 3px 8px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: #8a8a8a 0 0 10px inset;
	-moz-box-shadow: #8a8a8a 0 0 10px inset;
	box-shadow: #8a8a8a 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:default;
	
}
.value_item_active {
	position:relative;
	float:left;
	margin:2px 3px;
	padding:2px 8px 3px 8px;
	background:#6480d0;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:default;	
}
.user_value_delete
{
	position:absolute;
	top:-6px;
	right:-8px;
	width:16px;
	height:16px;	
	z-index:9;
}
.txtbox_myname {
	width:160px;
}
.area_profile
{
	width:400px;
	height:100px;
}

/*jog search*/
.leader_mask
{
	position:absolute;
	background:url(images/gray30.png);
	width:290px;
	height:100%;
	top:0;
	left:300px;
	z-index:9;
	font-size:16px;
	font-weight:bold;
	-webkit-border-radius:36px;
	-moz-border-radius:36px;
	border-radius:36px;
	behavior: url(/Styles/PIE.htc);
}
.search_header1
{
	clear:both;
	height:35px;
	color:#0000CC;
	font-size:18px;
	padding:3px 125px;
	overflow:hidden;
	background:#ffffff url(images/nav_search1.gif) left top no-repeat;
}
.search_boxer1
{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	min-height:500px;
	height:auto;
	background:#ffffff url(images/search_body1.gif) left top repeat-y;
}
.search_footer1
{
	position:relative;
	clear:both;
	height:10px;
	line-height:10px;
	overflow:hidden;
	background:#ffffff url(images/search_foot1.gif) left top no-repeat;
}

.boxer1_left{
	position:relative;
	float:left;
	width:277px;
	padding:0 5px;
}
.boxer1_jobinfo{
	float:left;
	padding:0 15px 10px 15px;
	width:570px;
}
table.search_item td {
	padding:5px 4px;
}
table.search_item
{
	width:100%;	
	border-collapse:collapse;
}
table.search_item td.item_headline {
	color:#3574bb;
	font-size:16px;
}

table.search_item td input.keyword 
{
	position:relative;
	width:180px;
	height:18px;
	padding:3px 10px;
	background:#e6e7e9;
	color:#777777;
	border:1px solid #a8a9ab;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	behavior: url(/Styles/PIE.htc);
}
.result_title 
{
	clear:both;
	padding:10px 0 5px 0;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	border-bottom:1px solid #b1b2b4;
	border-left-width:0;
	border-right-width:0;
}
.result_container
{
	clear:both;
	overflow:hidden;
}
.result_container table.result {
	width:100%;	
	border-collapse:collapse;
}
.result_container .message_usericon
{
	margin-left:0px;
}
table.result td {
	padding:5px 10px;
	background:#e6e7e9;
	border-bottom:1px solid #b1b2b4;
	border-left:1px solid #b1b2b4;
	border-right:1px solid #b1b2b4;
}
table.result td a 
{
	color:#333333;
}
table.details
{
	width:100%;	
	border-collapse:collapse;
}
table.ganeral
{
	margin:0px;
}
table.ganeral td 
{
	padding:2px 5px;
	vertical-align:top;
	border-bottom-width:0;
}
table.ganeral td.gray
{
	color:#777777;
}
table.ganeral2 td 
{
	padding:5px;
	vertical-align:top;
	border-bottom-width:0;
}
table.ganeral td.ganeral_title {
	font-weight:bold;
	font-size:18px;
	padding:5px 0 10px 0;
}
table.ganeral td.ganeral_logo img
{
	max-width:80px;
	max-height:80px;
	vertical-align:top;
}
table.ganeral td a
{
	color:#0000cc;
	text-decoration:none;
}
table.ganeral td td
{
	padding:2px 5px;
}
table.detail {
	margin-top:30px;
}
table.detail td
{
	border-bottom-width:0;
}
.resume_box
{
	position:absolute;
	top:-25px;
	right:50px;
	text-align:right;
}
span.expiredjob
{
	color:Red;
	font-weight:normal;
	font-size:16px;
}
.info_headline
{
	clear:both;
	padding:5px 0;
	color:#444444;
	font-weight:bold;
}
.info_description
{
	clear:both;
	color:#777777;
	padding:2px 0 10px 0;
}

/*iframe*/
.lightboxframe
{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:url(images/gray30.png);	
}
.frameWrapper
{
	position:relative;
	width:890px;
	height:600px;
	margin:130px auto 0 auto;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);
}
.frameContainer
{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	background:#ffffff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	behavior: url(/Styles/PIE.htc);
}
.frameContainer iframe
{
	position:absolute;
	top:-136px;
	left:-45px;
	width:980px;
	height:150%;
}
.frameClose
{
	position:absolute;
	top:-10px;
	right:-10px;
	width:43px;
	height:43px;
}
.frameClose img
{
	cursor:pointer;
}


.jobinfo_mask
{
	position:absolute;
	background:url(images/gray30.png);
	width:587px;
	height:100%;
	top:-11px;
	left:295px;
	z-index:9;
	font-size:18px;
	font-weight:bold;
	-webkit-border-radius:36px;
	-moz-border-radius:36px;
	border-radius:36px;
	behavior: url(/Styles/PIE.htc);
}
.jobinfo_build
{
	position:relative;
	width:470px;
	height:280px;
	padding:10px;
	margin:100px auto 0 auto;
	font-weight:normal;
	font-size:14px;
	background:#ffffff;
	border:1px solid #bbbbbb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	behavior: url(/Styles/PIE.htc);	
}
.jobinfo_build div
{
	text-align:center;
}
.jobinfo_build a
{
	color:#0000cc;
	text-decoration:none;
}
.reg_gray
{
	display:none;
	position:absolute;
	top:5px;
	left:272px;
	width:507px;
	height:400px;
	background:url(images/gray70.png);
	z-index:9;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	behavior: url(/Styles/PIE.htc);
}

/*for insights*/
.insight_sns
{
	position:absolute;
	top:-20px;
	right:80px;
	color:#555;
	font-size:14px;
}
.insight_sns a,.insight_sns a:hover
{
	font-size:12px;
	color:#777;
	text-decoration:none;
}
.insight_sns img
{
	margin:-3px 3px 0 0;
}

.box_insight
{
	position:relative;
	width:820px;
	min-height:390px;
	margin:0 auto;
	
	background:#ffffff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;
	-moz-box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;
	box-shadow: #434343 1px 1px 5px, #ccc -1px -1px 2px;			
	behavior: url(/Styles/PIE.htc);
}
.insight_left
{
	position:relative;
	float:left;
    width:490px;
    padding:10px 30px 20px 30px;
	background:#ffffff;
    border-right:1px solid #A5A5A5;            
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: #8a8a8a 0 2px 6px;
	-moz-box-shadow: #8a8a8a 0 2px 6px;
	box-shadow: #8a8a8a 0 2px 6px;			
	behavior: url(/Styles/PIE.htc);
}
.insight_right
{
	float:right;
    width:225px;
    padding:10px 20px 20px 20px;
}
.insight_fix
{
	clear:both;
}
.insight_line
{
	padding:15px 0;
	background:url(images/line.gif) left bottom repeat-x;
}
.insight_line1
{
	padding:15px 0 5px 0;
}
.insight_line2
{
	padding:15px 0 10px 0;
}
.insight_left .insight_line1
{
	padding:15px 15px 5px 15px;
}
.insight_right .insight_line1
{
	padding:15px 0;
}
.insight_left .insight_line2
{
	padding:15px;
}
.insight_right .insight_line2
{
	padding:15px 0 10px 0;
}
.insight_head
{
	font-size:16px;
	font-weight:bold;
}
.insight_note
{
	color:#666;
	padding:3px 0 10px 0;
}
.insight_image
{
	position:relative;
	padding:6px 0;
}
.insight_news
{
	padding:5px 0;
}
.insight_news ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.insight_news ul li
{
	margin:0;
	padding:4px 0 4px 20px;	
	background:url("images/icon_dot.gif") left 10px no-repeat;
}
.insight_news a,.insight_survey a,.insight_note a
{
	color:#333;
	text-decoration:none;
}
.insight_news a:hover,.insight_survey a:hover,.insight_note a:hover
{
	color:#333;
	text-decoration:underline;
}
.insight_events
{
	padding:3px 0;
}
.insight_survey
{
	padding:5px 0;
}
.insight_more
{
	padding:3px 0;
	text-align:right;
}
.insight_more a
{
	color:#333;
	text-decoration:none;
}
.insight_more a:hover
{
	color:#0000CC;
	text-decoration:underline;
}
.box_insight span.blue
{
	color:#2C6DCF;
}
.box_insight span.gray
{
	color:#777;
}
.box_insight table
{
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
}
.box_insight td
{
	margin:0;
	padding:2px;
	overflow:hidden;
}
.box_insight td.rsvp
{
	width:70px;
}
.box_insight td.rsvp a
{
	position:relative;
	display:block;
	margin:0;
	width:45px;
	text-align:center;
	padding:2px 12px;
	background:#5e5f61;
	font-size:14px;
	text-decoration:none;
	color:#ffffff;
	border:1px solid #73746;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: #666768 0 0 10px inset;
	-moz-box-shadow: #666768 0 0 10px inset;
	box-shadow: #666768 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
	cursor:pointer;
}
.box_insight td.rsvp a:hover
{
	color:#fff;
	text-decoration:underline;
}
.box_insight td.index
{
	width:25px;
	font-weight:bold;
	vertical-align:top;
	color:#777;
	font-size:13px;
}
.box_insight td.survey
{
	font-weight:bold;
	font-size:13px;
	color:#333;
}
.box_insight td.survey span
{
	font-size:10px;
	font-weight:normal;
}
.box_insight td.tname
{
	width:390px;
	font-weight:bold;
	color:#2C6DCF;
	font-size:14px;
	padding:5px 2px;
}
.box_insight td.quote
{
	padding:3px 0;
	width:40px;
	text-align:right;
	vertical-align:top;
}
.box_insight td.put
{
	font-size:10px;
	color:#777;
	padding:2px 2px 15px 2px;
}
.box_insight td.star
{
	color:#777;
	padding:15px 2px 2px 2px;
}
.box_insight td.icons
{
	color:#777;
	padding:10px 2px 2px 2px;
}
.box_insight td.icons a,.box_insight td.star a
{
	color:#777;
}
.box_insight td.tag
{
	color:#2C6DCF;
	padding:5px 2px 7px 2px;
}
.box_insight td.icons img,.box_insight td.quote img
{
	margin:-1px 0 0 0;
}
.box_insight td.icons sup,.box_insight td.quote sup
{
	margin:0 6px 0 1px;
}
.box_insight .div_iconbox
{
	float:left;
	padding: 0 10px 0 0;
	color:#777;
}
.box_insight .div_starbox
{
	float:left;
	padding: 3px 7px;
	color:#777;
}
.box_insight .div_iconbox a,.box_insight .div_iconbox a:hover,.box_insight .div_starbox a,.box_insight .div_starbox a:hover
{
	color:#777;
	text-decoration:none;
}
.box_insight .div_iconbox img
{
	margin-right:2px;
}
.insight_right td a
{
	color:#333;
	text-decoration:none;
}
.insight_right td a:hover
{
	color:#333;
	text-decoration:underline;
}
.insight_content td a,.insight_content2 td a
{
	color:#2C6DCF;
	text-decoration:none;
}
.insight_content td a:hover,.insight_content2 td a:hover
{
	color:#2C6DCF;
	text-decoration:underline;
}
.insight_hyperlink
{
	position:absolute;
	left:0;
	bottom:0;
	width:470px;
	height:60px;
	padding:10px;
}
.hyperlink_left
{
	float:left;
	width:380px;
	overflow:hidden;
}
.hyperlink_right
{
	float:right;
	width:85px;
	text-align:right;
	margin:37px 0 0 0;
}
.hyperlink_left ul
{
	margin:0 0 0 20px;
	padding:0;
	list-style-type:square;
}
.hyperlink_left ul li
{
	color:#fff;
	margin:0;
	padding:1px;
}
.insight_hyperlink a 
{
	color:#fff;
	text-decoration:none;
}
.insight_hyperlink a:hover
{
	color:#fff;
	text-decoration:underline;
}
.insight_icon
{
	padding:5px 0;
	text-align:right;
}
.insight_icon img
{
	margin:-1px 0 0 0;
}
.insight_icon sup
{
	margin:0 6px 0 1px;
}
.insight_content
{
	position:relative;
	clear:both;
	padding:10px 15px;
	overflow:hidden;
	
	background:#fff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: #8a8a8a 0 0 7px inset;
	-moz-box-shadow: #8a8a8a 0 0 7px inset;
	box-shadow: #8a8a8a 0 0 7px inset;			
	behavior: url(/Styles/PIE.htc);	
}
.insight_search
{
	position:relative;
	padding:12px 0 0 0;
}
.insight_search input
{
	position:relative;
	width:400px;
	padding:5px 10px 5px 40px;
	
	background:#fff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	behavior: url(/Styles/PIE.htc);		
}
.insight_search a
{
	position:absolute;
	display:block;
	top:19px;
	left:15px;
	text-decoration:none;
}
.insight_content2
{
	position:relative;
	clear:both;
	padding:10px 15px;
	overflow:hidden;
	
	background:#f3f4f5;
	border: 1px solid #eee;	
}

.insight_page
{
	clear:both;
	padding:5px 15px;
	text-align:right;
}
.insight_page a
{
	margin:0 3px;
}
.insight_page .pagerLinkDisabled
{
	color:#777;
	text-decoration:none;
}
.insight_page .pagerLinkCurrent
{
	font-size:15px;
	font-weight:bold;
	color:#555;
	text-decoration:none;
}

.comment_delete
{
	position:absolute;
	top:-5px;
	right:-5px;
	width:16px;
	height:16px;
}
.insight_comment
{
	position:relative;
	clear:both;
	padding:10px;
	
	margin:10px 0;
	background:#f6f7f8;
	border: 1px dashed #ddd;	
}
.insight_comment_alt
{
	position:relative;
	clear:both;
	padding:10px;
	
	margin:10px 0;
	background:#fdfeff;
	border: 1px dashed #ddd;	
}
.comment_head
{
	clear:both;
	overflow:hidden;
	font-size:10px;
	padding:0;
}
.comment_user
{
	float:left;
	color:#2C6DCF;
}
.comment_date
{
	float:right;
	color:#777;
}
.comment_user a
{
	color:#2C6DCF;
	text-decoration:none;
}
.comment_user a:hover
{
	color:#2C6DCF;
	text-decoration:underline;
}
.comment_content
{
	clear:both;
	overflow:hidden;
	padding:10px 0;
}
.insight_answer
{
	margin:20px 0 5px 0;
	padding:10px;	
	background:#f4f5f6;
	border: 1px dashed #ddd;
}
.insight_answer input[type="text"]
{
	width:180px;
	margin:0 9px;
}
.insight_answer textarea
{
	width:390px;
	height:85px;
}
.insight_answer input
{
	width:120px;
}
.insight_back
{
	padding:5px 15px;
	text-align:right;
}
.insight_back a
{
	color:#333;
	text-decoration:underline;
}
.insight_back a:hover
{
	color:#0000CC;
	text-decoration:underline;
}

/*insight email template*/
body.insightmail
{
	background-color:#fff;
	background-image:none;
	font-size:14px;
}
.insight_mail_box
{
	position:relative;
	width:820px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	
	background:#ffffff;
	border: 1px solid #adadad;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;
	-moz-box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;
	box-shadow: #535353 2px 2px 7px, #ccc -2px -2px 5px;			
	behavior: url(/Styles/PIE.htc);
}
.insight_mail_head
{
	position:relative;
	clear:both;
	overflow:hidden;
	padding:30px 6px 6px 45px;
	margin:-1px;
	background:url(images/insight_mail.gif) no-repeat right top;
	
	-webkit-border-radius: 9px 9px 0 0;
	-moz-border-radius:9px 9px 0 0;
	border-radius:9px 9px 0 0;
	behavior: url(/Styles/PIE.htc);
}
.insight_mail_head img
{
	border:none;
}
.insight_mail_line1
{
	clear:both;
	overflow:hidden;
	margin:0 30px;
	padding:30px 0 25px 0;
}
.insight_mail_line2
{
	clear:both;
	overflow:hidden;
	margin:0 30px;
	padding:30px 0 25px 0;
	background:url("images/line.gif") left top repeat-x;
}
.insight_mail_left1
{
	float:left;
	width:235px;
	padding:5px 10px;	
}
.insight_mail_right1
{
	float:right;
	width:485px;
	padding:5px 10px;	
}
.insight_mail_left2
{
	float:left;
	width:350px;
	padding:5px 10px;	
}
.insight_mail_right2
{
	float:right;
	width:350px;
	padding:5px 10px;	
}
.insight_mail_foot
{
	position:relative;
	clear:both;
	overflow:hidden;
	margin:60px 0 0 0;
	padding:10px;
	background:#3075ba;
	color:#fff;
	text-align:center;
	font-size:36px;
	font-family: "Jenna Sue",cursive;
	
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/Styles/PIE.htc);
}
.insight_mail_headline
{
	clear:both;
	overflow:hidden;
	padding:15px 0 0 0;
	font-size:16px;
	font-weight:bold;
}
.insight_mail_line1 .insight_mail_headline
{
	padding:3px 0 0 0;
}
.insight_mail_line2 .insight_mail_headline
{
	padding:15px 0 0 0;
}
.insight_mail_box span.blue
{
	color:#2C6DCF;
}
.insight_mail_box span.gray
{
	color:#777;
}
.insight_mail_author
{
	padding:3px 0 0 0;
	clear:both;
	overflow:hidden;
	color:#777;
}
.insight_mail_content
{
	clear:both;
	overflow:hidden;
	padding:15px 0;
}
.insight_mail_button
{
	clear:both;
	overflow:hidden;
	padding:10px 0;
}
.insight_mail_button a
{
	display:block;
	float:right;
}
.insight_mail_button input
{
	position:relative;
	background:#616263;
	color:#fff;
	border:none;
	padding:1px 15px 2px 15px;
	font-size:15px;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	behavior: url(/Styles/PIE.htc);
	
}
.insight_mail_headline_blue
{
	clear:both;
	overflow:hidden;
	padding:4px 10px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	background:#3075ba;
}
.insight_mail_headline_gray
{
	clear:both;
	overflow:hidden;
	padding:4px 10px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	background:#c7c8ca;
}
.insight_mail_image
{
	clear:both;
	overflow:hidden;
}
.insight_mail_date
{
	clear:both;
	overflow:hidden;
	padding:12px 0 0 ;
	font-weight:bold;
}
.insight_mail_note
{
	color:#666;
	font-size:12px;
	padding-bottom:10px;
}
.insight_mail_survey
{
	clear:both;
	overflow:hidden;
}
.insight_mail_survey a
{
	color:#333;
	text-decoration:none;
}
.insight_mail_survey a:hover
{
	color:#333;
	text-decoration:underline;
}
.insight_mail_survey table
{
	width:100%;
	border-collapse:collapse;
}
.insight_mail_survey td
{
	margin:0;
	padding:2px 2px 15px 2px;
}
.insight_mail_survey td.index
{
	width:25px;
	font-weight:bold;
	vertical-align:top;
	color:#777;
}
.insight_mail_survey td.survey
{
	font-weight:bold;
	color:#333;
}
.insight_mail_survey td.survey span
{
	font-size:12px;
	font-weight:normal;
}
.insight_mail_content2
{
	clear:both;
	overflow:hidden;
	padding:15px 0;
	font-weight:bold;
}
.insight_mail_content2 a
{
	color:#333;
	text-decoration:none;
}
.insight_mail_content2 a:hover
{
	color:#333;
	text-decoration:underline;
}
.insight_mail_content2 ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.insight_mail_content2 ul li
{
	margin:0;
	padding:1px 0 3px 20px;	
	background:url("images/icon_dot3.gif") left 8px no-repeat;
}

/*success temp*/
.success_head
{
	font-size:15px;
	color:#2660B5;
	font-weight:bold;
	padding:6px 0;
}
.success_content
{
	text-align:center;
}
.success_content img
{
	margin:10px;
}

.leaderlist
{
}
.leaderlist table
{
	border-collapse:collapse;
	width:98%;
}
.leaderlist td
{
	padding:8px 5px;
	border-bottom:1px dashed #ddd;
}
.leaderlist th
{
	padding:8px 5px;
	border-bottom:2px solid #aaa;
	text-align:left;
}
.leaderlist th.th_action
{
	width:100px;
	text-align:center;
}
.leaderlist td a
{
	color:#333;
	text-decoration:none;
}
.leaderlist td a:hover
{
	color:#333;
	text-decoration:underline;
}
.leaderlist td a.hpyaction
{
	position:relative;
	display:block;
	float:right;
	margin:2px 3px;
	padding:3px 30px;
	background:#6480d0;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#ffffff;
	border:1px solid #3a61c5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: #3350a6 0 0 10px inset;
	-moz-box-shadow: #3350a6 0 0 10px inset;
	box-shadow: #3350a6 0 0 10px inset;			
	behavior: url(/Styles/PIE.htc);
}
.leaderlist td a.hpyaction:hover
{
	color:#ffffff;
	text-decoration:none;
}