﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="<%=Url.Content("~/JS/uploadify/uploadify.css")%>" rel="stylesheet" type="text/css" />
    
        <link href="/Styles/glo.css" rel="stylesheet" type="text/css" />
        <link href="/Styles/manage.css" rel="stylesheet" type="text/css" />

    <link href="<%: System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css") %>" rel="stylesheet" type="text/css" />
    <script src="<%: System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js") %>"></script>
    <script src="<%=Url.Content("~/JS/uploadify/jquery.uploadify.min.js") %>" type="text/javascript"></script>
    <script src="<%=Url.Content("~/Js/GLO.js") %>" type="text/javascript"></script>
    <script src="<%=Url.Content("~/Js/jquery.json-2.2.min.js") %>" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body>
   
    <div id="glo_wrapper">
        <%Html.RenderPartial("~/Views/Shared/LoginUserControl.ascx");%> 
        <asp:ContentPlaceHolder ID="MainContent" runat="server">        
        </asp:ContentPlaceHolder>

        <%Html.RenderPartial("~/Views/Shared/Footer.ascx");%> 
    </div>
    <asp:ContentPlaceHolder ID="WrapperContent" runat="server">        
    </asp:ContentPlaceHolder>
    
    <script type="text/javascript">
        $(document).ready(function () {

            if (window.top != window.self) {
                var iheight = $('.glo_manage').height();
                window.parent.$('.frameWrapper').css("height", +iheight + "px");
                window.parent.$('#lightboxwrapper').css("min-height", (iheight + 150) + "px");
            }

        });
    </script>
</body>
</html>
