﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="/Styles/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="welcome"></div>
</body>
</html>
