﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Base.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Concept
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

   <div class="glo_body">
        <div class="glo_boxer">
            <div class="boxer_concept">
                GLO Concept
            </div>
            <div class="boxer_content">
                
                <div class="faq_image"><img src="/Styles/images/glo_home.gif" /></div>
               
                
                  <%=ViewBag.Conecpt%>

            </div>
        </div>
    </div>

</asp:Content>

