﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
 <ul>
 <% string expertid= ViewData["expertid"].ToString(); %>
      <li><a href="<%=Url.Action("DashBoard",new { expertid = expertid }) %>">My Current Assignment</a></li>
  </ul>