﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<GLO.Data.Models.GLO_Message>" %>
 <table>
                            <tr>
                                <td class="message_title"><b><%=Model.MessageTitle %></b></td>
                                <td class="message_date"><%=Model.SendDate %></td>
                            </tr>
                            <tr>
                                <td><%=Model.MessageContect.Replace("\n","<br/>") %></td>
                            </tr>
                        </table>