﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Company.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    CheckCategory
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

Welcome to the GLO community of Good Leaders Online and thank you for your interest to build a company profile
As a company member you have a choice between following value packages:

One month basic membership (XXX USD)                                                                         
	- Build your company profile online (optional)
	- Get access to all leader profiles and expert profiles for one month        
	-  Tag profiles of leaders in your leadership funnel and contact our HR experts                                                                                                                           2.      One year basic membership (XXX USD)                                                                                 
	- Build a company profile online  (optional)
     	-  Get access to all leader and expert profiles for one year
	-  Tag profiles of leaders in your leadership funnel and contact HR experts                                                                                                                     	-  Get discount on headhunting fees (offline)                                                     
	-  Get discount on assessments (offline)
Premium Job ad slot packages

<%=Html.ActionLink("Build my company profile now", "CompanyIndex", new { companyid=5})%>

</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="WrapperContent" runat="server">
</asp:Content>
