﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<GLO.Web.Models.TagUserModel>" %>
<script src="<%=Url.Content("~/Js/jquery.json-2.2.min.js") %>" type="text/javascript"></script>
<%: Html.HiddenFor(m=>m.TagID) %>
<%: Html.HiddenFor(m=>m.UserID) %>
<%: Html.HiddenFor(m=>m.TaggedUserID) %>
<div class="lightbox_mask">
</div>
<div class="lightbox_manage">
    <div class="lightbox_message">
        <table>
        
            <tr>
            <td>
            Name
            </td>
            <td>
            <%=Model.UserName %>
            </td>
             <tr>
            <td>
            Current function
            </td>
            <td>
            <%=Model.FunctionName %>
            </td>
            </tr>
            <%if (Model.ShowFunctions)
              { %>

            <tr>
                <td>Select Function</td>
                <td>
                <div class="select_box">
                    <input class="select_value" type="text" readonly="readonly" value="<%=Model.FunctionName %>" />
                    <img class="select_arrow" src="/Styles/images/icon_arrow2.gif" />
                    <div class="select_option">
                        <ul>
                            <% foreach (var item in Model.FunctionList)
                               {
                            %>
                            <li x:categoryID="<%=item.TagCategoryID %>"><%=item.GLO_Functions.FunctionName%><%if (item.GLO_TagUsers.Count == 0){ %> </li><%} %>
                            <%} %>
                        </ul>
                    </div>
                </div>
                </td>
            </tr>
            <%} %>
            <tr>
                <td>Memo</td>
                <td><textarea class="content" style="height:210px" id="txtTagNote" ><%=Model.Memo %></textarea><input id="Function" type="hidden" value="<%=Model.TagCategoryID %>" /></td>
            </tr>
        </table>
        <div class="me_apply">
            <a id="btnSubmit" href="javascript:void(0);">
                <img src="/Styles/images/icon_apply.gif"></a></div>
        <div class="me_close">
            <a onclick="return CloseLightBox()" href="#">
                <img src="/Styles/images/icon_close.gif"></a></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        SetDropdown();
        $("#btnSubmit").click(function () {
            var categoryID = $("#Function").val();
            if (categoryID == "" || categoryID == "0") {
                alertbox("Please select the function.")
                return false;
            }
            var tagData = {
                'TagID': $("#TagID").val(),
                'UserID': $("#UserID").val(),
                'TaggedUserID': $('#TaggedUserID').val(),
                'TagCategoryID': categoryID,
                'TagNote': $("#txtTagNote").val()
            };
            $.postJSON('<%=Url.Action("UpdateTagUser","Tag") %>', { tagData: $.toJSON(tagData) }, function (data) {
                if (data) {
                    window.location.reload();
                }
            })
        });
    });
    function sleep(numberMillis) {
        var now = new Date();
        var exitTime = now.getTime() + numberMillis;
        while (true) {
            now = new Date();
            if (now.getTime() > exitTime) return;
        }
    }
    function SetDropdown() {
        /*open dropdown*/
        $(".select_box").click(function (event) {
            event.stopPropagation();
            $(".select_option").hide();
            $(this).find(".select_option").toggle();
        });
        /*close dropdown*/
        $(document).click(function () {
            $('.select_option').hide();
        });
        /*set value*/
        $(".select_option li").click(function (event) {
            event.stopPropagation();
            $(".select_option").hide();
            var value = $(this).attr("x:categoryID");
            var text = $(this).text().replace(/<img([^>]*)>/gi, "");
            $(this).parent().parent().parent().find(".select_value").val(text);
            $('#Function').val(value);
        });
       
    }
</script>